interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"790537","name":"test_collection_graph_15","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790537","searchEnabled":false},{"id":"790534","name":"test_collection_graph_14","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790534","searchEnabled":false},{"id":"790509","name":"test_collection_graph_13","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790509","searchEnabled":false},{"id"[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a95c4ad6-571d-484c-add8-bbe42b075e15
      x-gdn-responsetime:
      - '11'
    status:
      code: 200
      message: ''
- request:
    body: '{"query": {"name": "insertRecord"}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/restql
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"query ''value'' missing or
        is not a string.","errorNum":400}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 40c95206-00ac-4a06-9f3e-ae5521b03246
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"queries": [{"name": "getRecords"}, {"name": "updateRecord", "value":
      "FOR i IN test_collection_1 FILTER i._key IN @updateKeys UPDATE i with { zipcode:
      (i._key == @updateKeyValue[i._key].key) ? @updateKeyValue[i._key].zipcode :
      i.zipcode } IN test_collection_1"}], "details": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/restql/import
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"query ''value'' missing or
        is not a string in query: {\"name\":\"getRecords\"}","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 84e68a44-7cde-4d5f-9c8e-e1bcfe13ec3b
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/restql/user
  response:
    body:
      string: '{"error":false,"code":200,"result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 44bc5ff9-cfde-41fb-aa19-12edf413ae1f
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/restql/insertRecord
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a78e7049-eb70-4403-a334-e3f2beff30b4
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/restql/execute/getRecords
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"query is empty","errorNum":1502}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b88dd293-4ddc-47b3-9f25-9c104a1ab99e
      x-gdn-responsetime:
      - '10'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/restql/fetch/1
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"cursor not found","errorNum":1600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 96a40e6d-526b-425b-b566-9a508f1029aa
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
version: 1
