interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_3/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_3","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782092","type":3,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782092","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 503478f8-904b-4932-b714-6b7a06b0dfaa
      x-gdn-responsetime:
      - '14'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"_key": "1", "val": 1}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/1","_key":"1","_rev":"_fGksnK2--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksnK2--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0e5407ed-e190-4313-99a8-21ca4dcc9cce
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/2
  response:
    body:
      string: '{"error":false,"code":200,"vertex":{"_id":"test_collection_4/2","_key":"2","_rev":"_fGksnVi--_","val":2}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksnVi--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - faf5ca39-9579-4fd7-ab35-a7ea52058e41
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - _fGksnVi--_
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_4/2
  response:
    body:
      string: '{"_id":"test_collection_4/2","_key":"2","_rev":"_fGksnVi--_","val":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGksnVi--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a84dbf03-90c9-419d-91a9-3e905cc46be6
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"_from": "test_collection_4/2", "_to": "test_collection_5/5"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"edge":{"_id":"test_collection_3/791747","_key":"791747","_rev":"_fGkspDu--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkspDu--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e48ed59b-8bff-41d0-b07b-3ecb4e248e8e
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_3/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_3","isSystem":false,"searchEnabled":false,"id":"782092","globallyUniqueId":"hB1D42EC62724/782092","count":1}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8b0a885f-c968-4224-8417-0f86d0f03672
      x-gdn-responsetime:
      - '28'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/791756
  response:
    body:
      string: '{"error":false,"code":200,"edge":{"_from":"test_collection_4/2","_id":"test_collection_3/791756","_key":"791756","_rev":"_fGkspxm--_","_to":"test_collection_5/5"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkspxm--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 08063d8b-a40a-495d-b993-cdfe0d6fb806
      x-gdn-responsetime:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/edges/test_collection_3?vertex=test_collection_4%2F2&direction=out
  response:
    body:
      string: '{"edges":[{"_from":"test_collection_4/2","_id":"test_collection_3/791747","_key":"791747","_rev":"_fGkspDu--_","_to":"test_collection_5/5"},{"_from":"test_collection_4/2","_id":"test_collection_3/791756","_key":"791756","_rev":"_fGkspxm--_","_to":"test_collection_5/5"}],"error":false,"code":200,"stats":{"scannedIndex":2,"filtered":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 354e4225-04cb-46ae-a15f-5b5a90ec68c8
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/edges/test_collection_3?vertex=test_collection_4%2F2&direction=in
  response:
    body:
      string: '{"edges":[],"error":false,"code":200,"stats":{"scannedIndex":0,"filtered":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 36747917-883e-4c27-a385-1735b20e4644
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"_id": "test_collection_3/791756", "foo": 100}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/791756?keepNull=1&overwrite=0&silent=0
  response:
    body:
      string: '{"error":false,"code":202,"edge":{"_id":"test_collection_3/791756","_key":"791756","_oldRev":"_fGkspxm--_","_rev":"_fGksq1e--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksq1e--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 20e27f33-f0be-4b78-99d8-ce49a65ec319
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_id": "test_collection_3/791756", "_from": "test_collection_4/2", "_to":
      "test_collection_5/5", "bar": 200}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/791756?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"edge":{"_id":"test_collection_3/791756","_key":"791756","_oldRev":"_fGksq1e--_","_rev":"_fGksrMO--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksrMO--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 9f6554c5-70ad-4e54-aed6-9357a57d31c0
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/791756
  response:
    body:
      string: '{"error":false,"code":202,"removed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f95d4b1d-6bf0-4c31-85d9-481db8e8419a
      x-gdn-responsetime:
      - '5'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_3/791756
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"document not found","errorNum":1202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 15eb2099-079b-4641-9e1e-87c7b26ed1a3
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_3/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_3","isSystem":false,"searchEnabled":false,"id":"782092","globallyUniqueId":"hB1D42EC62724/782092","count":1}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b27f5106-dfa7-431e-935c-db9b774f02ab
      x-gdn-responsetime:
      - '14'
    status:
      code: 200
      message: ''
version: 1
