interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_3/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_3","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782092","type":3,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782092","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2984f1b0-3929-4dd0-b44d-ddc258dab640
      x-gdn-responsetime:
      - '17'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"_key": "1", "val": 1}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/1","_key":"1","_rev":"_fGksOja--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksOja--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 94ed24c6-9d52-4fd7-8d6e-3f413fce5230
      x-gdn-responsetime:
      - '5'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_from": "test_collection_4/1", "_to": "test_collection_5/4"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"edge":{"_id":"test_collection_3/791106","_key":"791106","_rev":"_fGksPmW--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksPmW--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 6775bf29-db6b-452c-bf40-36f428418f11
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_3/791106
  response:
    body:
      string: '{"_from":"test_collection_4/1","_id":"test_collection_3/791106","_key":"791106","_rev":"_fGksPmW--_","_to":"test_collection_5/4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGksPmW--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e43eb565-1bfd-4a12-9ed4-70241934e51b
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_3/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_3","isSystem":false,"searchEnabled":false,"id":"782092","globallyUniqueId":"hB1D42EC62724/782092","count":1}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a6dea00c-dc2a-4345-ba17-4540b60a59c7
      x-gdn-responsetime:
      - '13'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_3/foo
  response:
    body:
      string: '{"_from":"test_collection_4/1","_id":"test_collection_3/foo","_key":"foo","_rev":"_fGksQWO--_","_to":"test_collection_5/4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGksQWO--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - faa87b90-ea5e-4192-8b38-33c5fe753fd6
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/1
  response:
    body:
      string: '{"error":false,"code":200,"edge":{"_from":"test_collection_4/1","_id":"test_collection_3/1","_key":"1","_rev":"_fGksRNe--_","_to":"test_collection_5/4"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksRNe--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d1156848-6d12-4f71-9482-888b3c1ff20b
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"_key": "1", "_from": "test_collection_4/1", "_to": "test_collection_5/4"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3?silent=0
  response:
    body:
      string: '{"code":409,"error":true,"errorMessage":"Each document in a collection
        must have a unique key, and the provided one is already used in collection
        ''test_collection_3''.","errorNum":1210}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 73d8be7f-a6e7-4d93-8572-0e00433bf2ff
      x-gdn-responsetime:
      - '3'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: '{"_key": "2", "_from": "test_collection_4/1", "_to": "test_collection_5/5"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3?silent=1&waitForSync=1
  response:
    body:
      string: '{"error":false,"code":201,"edge":{"_id":"test_collection_3/2","_key":"2","_rev":"_fGksSnG--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksSnG--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b4825282-af5f-4831-83c5-9059e2721578
      x-gdn-responsetime:
      - '18'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/3
  response:
    body:
      string: '{"error":false,"code":200,"vertex":{"_id":"test_collection_4/3","_key":"3","_rev":"_fGksO6O--_","val":3}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksO6O--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5fab04d4-5ed3-429e-9cd1-e37ed8219d63
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/test_document_777
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"document not found","errorNum":1202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5dc125b1-c587-455c-9bbe-3a8eaad2694d
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      If-Match:
      - _fGksSnG--_1
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/2
  response:
    body:
      string: '{"error":true,"code":412,"errorNum":1200,"errorMessage":"precondition
        failed","_id":"test_collection_3/2","_key":"2","_rev":"_fGksSnG--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGksSnG--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5f975131-e355-4554-89ef-bbc4262ee28b
      x-gdn-responsetime:
      - '3'
    status:
      code: 412
      message: Precondition Failed
[...]
- request:
    body: '{"_key": "2", "foo": 100}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/2?keepNull=1&overwrite=0&silent=0
  response:
    body:
      string: '{"error":false,"code":202,"edge":{"_id":"test_collection_3/2","_key":"2","_oldRev":"_fGksSnG--_","_rev":"_fGksWuy--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksWuy--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ae2c3ad7-3ed5-426d-946f-b403e3a4203e
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_key": "2", "foo": 200, "bar": 300}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/2?keepNull=1&overwrite=0&silent=0
  response:
    body:
      string: '{"error":false,"code":202,"edge":{"_id":"test_collection_3/2","_key":"2","_oldRev":"_fGksWuy--_","_rev":"_fGksXQm--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksXQm--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 85c03535-9763-41c5-8e2f-365363081e2c
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_key": "2", "bar": 500}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/2?keepNull=1&overwrite=0&silent=0&waitForSync=1
  response:
    body:
      string: '{"error":false,"code":200,"edge":{"_id":"test_collection_3/2","_key":"2","_oldRev":"_fGksX0i--_","_rev":"_fGksZg---_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksZg---_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1532eb24-e7e7-4e5a-8e60-6c0ad8ab0910
      x-gdn-responsetime:
      - '21'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"_key": "2", "_from": "test_collection_4/1", "_to": "test_collection_5/5",
      "foo": 100}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/2?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"edge":{"_id":"test_collection_3/2","_key":"2","_oldRev":"_fGksbfS--_","_rev":"_fGkscBm--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkscBm--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fc266286-ccac-4a33-99eb-23e2f517e567
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_key": "2", "_from": "test_collection_4/1", "_to": "test_collection_5/5",
      "foo": 300, "bar": 500, "_rev": "_fGkseCS--_2"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/2?silent=0&waitForSync=1
  response:
    body:
      string: '{"error":false,"code":200,"edge":{"_id":"test_collection_3/2","_key":"2","_oldRev":"_fGkseCS--_","_rev":"_fGksf2W--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksf2W--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3d87240e-1fdb-4f13-a96e-ba3f9a4cf7e3
      x-gdn-responsetime:
      - '20'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_3/2?waitForSync=1
  response:
    body:
      string: '{"error":false,"code":200,"removed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d9cae0c2-5b32-4c85-a094-98846f8c16a8
      x-gdn-responsetime:
      - '20'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_3/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_3","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782092","type":3,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782092","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e1bd857d-a372-4567-9aad-547324265ca5
      x-gdn-responsetime:
      - '14'
    status:
      code: 200
      message: ''
version: 1
