interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex
  response:
    body:
      string: '{"error":false,"code":200,"collections":["test_collection_4","test_collection_5"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3459e45a-2d5a-4723-bf5b-1298aac641fa
      x-gdn-responsetime:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: '{"collection": "test_collection_graph_6"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex
  response:
    body:
      string: '{"error":false,"code":202,"graph":{"_key":"test_graph_1","numberOfShards":1,"replicationFactor":1,"minReplicationFactor":1,"isSmart":false,"edgeDefinitions":[{"collection":"test_collection_3","from":["test_collection_4"],"to":["test_collection_5"]}],"orphanCollections":["test_collection_graph_6"],"_rev":"_fGkrt-m--_","_id":"_graphs/test_graph_1","name":"test_graph_1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkrt-m--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f4a811c8-ae84-45bf-8d11-85e9adecaa3a
      x-gdn-responsetime:
      - '58'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"collection": "test_collection_graph_6"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"collection used in orphans","errorNum":1938}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 17a6bf40-b287-4ff3-9ed2-cdca303bf1bb
      x-gdn-responsetime:
      - '2'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_collection_graph_8/_api/graph/test_graph_1/vertex
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 03678db1-6bc0-4f46-85dc-dd24a697f71b
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_graph_9?dropCollection=0
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"collection is not in list
        of orphan collections","errorNum":1928}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7b02ed02-97d8-4005-91ff-8e6f4f4f663d
      x-gdn-responsetime:
      - '2'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex
  response:
    body:
      string: '{"error":false,"code":200,"collections":["test_collection_4","test_collection_5"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 9a423570-05a6-4ace-a691-f515eadc9c55
      x-gdn-responsetime:
      - '2'
    status:
      code: 200
      message: OK
version: 1
