interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_4/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_4","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782068","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782068","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e9ee3517-d201-45e6-af88-f71f323769bf
      x-gdn-responsetime:
      - '14'
    status:
      code: 200
      message: ''
- request:
    body: '{}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/791042","_key":"791042","_rev":"_fGksLX---_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksLX---_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 09d256b5-2ef5-4636-a370-478f11ecf5b8
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_4/791042
  response:
    body:
      string: '{"_id":"test_collection_4/791042","_key":"791042","_rev":"_fGksLX---_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGksLX---_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d045805e-559f-4232-80d1-a14c69459701
      x-gdn-responsetime:
      - '14'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_4/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_4","isSystem":false,"searchEnabled":false,"id":"782068","globallyUniqueId":"hB1D42EC62724/782068","count":1}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5261321d-efbd-4206-b610-a5a6ee78fc96
      x-gdn-responsetime:
      - '13'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/791042
  response:
    body:
      string: '{"error":false,"code":200,"vertex":{"_id":"test_collection_4/791042","_key":"791042","_rev":"_fGksLX---_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksLX---_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ad988220-7eaa-4288-89ec-aeaf770c2fc3
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"_id": "test_collection_4/791042", "foo": 100}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/791042?keepNull=1&overwrite=0&silent=0
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/791042","_key":"791042","_oldRev":"_fGksLX---_","_rev":"_fGksMUO--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksMUO--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 42aee61b-44fd-4411-9e9d-6e4ef107d7f2
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_id": "test_collection_4/791042", "bar": 200}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/791042?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/791042","_key":"791042","_oldRev":"_fGksMUO--_","_rev":"_fGksMqK--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksMqK--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e23acffa-b8bc-4b6b-a5b1-2f0a39357ad1
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/791042
  response:
    body:
      string: '{"error":false,"code":202,"removed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 380eab8b-024e-4d19-94d7-30326121b54e
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_4/791042
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"document not found","errorNum":1202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 389337f7-465f-417c-9818-524cef8c02ab
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_4/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_4","isSystem":false,"searchEnabled":false,"id":"782068","globallyUniqueId":"hB1D42EC62724/782068","count":0}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0b6bf130-d0df-4298-9619-bde725c99594
      x-gdn-responsetime:
      - '21'
    status:
      code: 200
      message: ''
version: 1
