interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_4/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_4","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782068","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782068","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c2916c2d-28e6-4b12-9c6b-638f3e833381
      x-gdn-responsetime:
      - '18'
    status:
      code: 200
      message: ''
- request:
    body: '{}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/790693","_key":"790693","_rev":"_fGkr5zm--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkr5zm--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ce0d2db8-2d67-4f8f-81fb-686cdafb39e7
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_4/790693
  response:
    body:
      string: '{"_id":"test_collection_4/790693","_key":"790693","_rev":"_fGkr5zm--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkr5zm--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7967c285-d32a-41ce-b2b5-162f2c508351
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_4/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_4","isSystem":false,"searchEnabled":false,"id":"782068","globallyUniqueId":"hB1D42EC62724/782068","count":1}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 00d833cd-bb26-4983-8c04-1d3d20aec953
      x-gdn-responsetime:
      - '15'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_4/foo
  response:
    body:
      string: '{"_id":"test_collection_4/foo","_key":"foo","_rev":"_fGkr6he--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkr6he--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 280ffbcf-41a0-4a80-8648-f51869198597
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"_key": "1", "val": 1}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/1","_key":"1","_rev":"_fGkr7ZG--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkr7ZG--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 41a26b98-e38a-4c01-8320-cd9e11f4d4fe
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/1
  response:
    body:
      string: '{"error":false,"code":200,"vertex":{"_id":"test_collection_4/1","_key":"1","_rev":"_fGkr7ZG--_","val":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkr7ZG--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7d88cdc2-2dd1-49b9-9d0b-2d3c517cfaa4
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"_key": "1", "val": 1}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4?silent=0
  response:
    body:
      string: '{"code":409,"error":true,"errorMessage":"Could not create node. Each
        document in a collection must have a unique key, and the provided one is already
        used in collection ''test_collection_4''.","errorNum":1210}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fcd11088-04e4-43eb-b2ad-7f1495125df8
      x-gdn-responsetime:
      - '4'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: '{"_key": "2", "val": 2}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4?silent=0&waitForSync=1
  response:
    body:
      string: '{"error":false,"code":201,"vertex":{"_id":"test_collection_4/2","_key":"2","_rev":"_fGkr8qW---"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkr8qW---
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 6ea0ed18-efbd-4723-ad8c-d62b5c05a858
      x-gdn-responsetime:
      - '22'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/test_document_999
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"document not found","errorNum":1202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 49304370-5956-4c3c-a269-1dc0120cc6f1
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      If-Match:
      - _fGkr9j6--_1
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/3
  response:
    body:
      string: '{"error":true,"code":412,"errorNum":1200,"errorMessage":"precondition
        failed","_id":"test_collection_4/3","_key":"3","_rev":"_fGkr9j6--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkr9j6--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c83d0aa4-53ee-46c8-ba90-0845a9983d28
      x-gdn-responsetime:
      - '2'
    status:
      code: 412
      message: Precondition Failed
[...]
- request:
    body: '{"_key": "3", "foo": 100}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/3?keepNull=1&overwrite=0&silent=0
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/3","_key":"3","_oldRev":"_fGkr9j6--_","_rev":"_fGks_Wa--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGks_Wa--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3697ba9f-524b-4f64-a7cf-14d2b4592a22
      x-gdn-responsetime:
      - '2'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_key": "3", "bar": 200}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/3?keepNull=1&overwrite=0&silent=1
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/3","_key":"3","_oldRev":"_fGks_Wa--_","_rev":"_fGksAEm--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksAEm--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2e2b9c3d-a920-45e8-af0d-f6abb66c5cba
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_key": "3", "bar": 500}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/3?keepNull=1&overwrite=0&silent=0&waitForSync=1
  response:
    body:
      string: '{"error":false,"code":200,"vertex":{"_id":"test_collection_4/3","_key":"3","_oldRev":"_fGksBVS--_","_rev":"_fGksD-S--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksD-S--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 85294fa9-0553-437a-97e5-d5a2fed8fa63
      x-gdn-responsetime:
      - '20'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"_key": "3", "baz": 100}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/3?silent=0
  response:
    body:
      string: '{"error":false,"code":202,"vertex":{"_id":"test_collection_4/3","_key":"3","_oldRev":"_fGksEQ6--_","_rev":"_fGksEzG--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksEzG--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8bda6a98-ff71-40e7-8416-d870d72ce7c7
      x-gdn-responsetime:
      - '2'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_key": "3", "bar": 400, "foo": 200}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/3?silent=0&waitForSync=1
  response:
    body:
      string: '{"error":false,"code":200,"vertex":{"_id":"test_collection_4/3","_key":"3","_oldRev":"_fGksHVm--_","_rev":"_fGksIOe--_"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGksIOe--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 566d877d-0fbf-4d75-8d51-ffb4b87ee419
      x-gdn-responsetime:
      - '17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex/test_collection_4/3?waitForSync=1
  response:
    body:
      string: '{"error":false,"code":200,"removed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b264de61-4b78-47d0-8bfd-d2596ad4a85e
      x-gdn-responsetime:
      - '20'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_4/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_4","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782068","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782068","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3a9caad0-a4c8-4fd2-a5fe-23261d7e4e7f
      x-gdn-responsetime:
      - '12'
    status:
      code: 200
      message: ''
version: 1
