interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_4/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_4","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782068","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782068","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ce0506d5-4cdf-4db8-914b-e18adf55d586
      x-gdn-responsetime:
      - '24'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1
  response:
    body:
      string: '{"error":false,"code":200,"graph":{"_key":"test_graph_1","numberOfShards":1,"replicationFactor":1,"minReplicationFactor":1,"isSmart":false,"edgeDefinitions":[{"collection":"test_collection_3","from":["test_collection_4"],"to":["test_collection_5"]}],"orphanCollections":[],"_rev":"_fGkrxr6--_","_id":"_graphs/test_graph_1","name":"test_graph_1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d69f94e7-d935-4499-85cc-fc5ead4ce742
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363",[...]
- request:
    body: '{"collection": "test_collection_graph_10", "from": [], "to": []}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"malformed edge definition","errorNum":1923}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 071f6de8-630f-4002-9b71-36594238f715
      x-gdn-responsetime:
      - '2'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"collection": "test_collection_graph_13", "from": ["test_collection_graph_11"],
      "to": ["test_collection_graph_12"]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge
  response:
    body:
      string: '{"error":false,"code":202,"graph":{"_key":"test_graph_1","numberOfShards":1,"replicationFactor":1,"minReplicationFactor":1,"isSmart":false,"edgeDefinitions":[{"collection":"test_collection_3","from":["test_collection_4"],"to":["test_collection_5"]},{"collection":"test_collection_graph_13","from":["test_collection_graph_11"],"to":["test_collection_graph_12"]}],"orphanCollections":[],"_rev":"_fGkr0rW--_","_id":"_graphs/test_graph_1","name":"test_graph_1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkr0rW--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 78acb675-2e77-4bc5-b17c-d3f352037967
      x-gdn-responsetime:
      - '106'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/vertex
  response:
    body:
      string: '{"error":false,"code":200,"collections":["test_collection_4","test_collection_5","test_collection_graph_11","test_collection_graph_12"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 62fd9c6d-046f-4285-adfd-a931e2fffa6e
      x-gdn-responsetime:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": "test_collection_graph_15", "from": ["test_collection_graph_12"],
      "to": ["test_collection_graph_11"]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_graph_15
  response:
    body:
      string: '{"error":false,"code":202,"graph":{"_key":"test_graph_1","numberOfShards":1,"replicationFactor":1,"minReplicationFactor":1,"isSmart":false,"edgeDefinitions":[{"collection":"test_collection_3","from":["test_collection_4"],"to":["test_collection_5"]},{"collection":"test_collection_graph_13","from":["test_collection_graph_11"],"to":["test_collection_graph_12"]},{"collection":"test_collection_graph_15","from":["test_collection_graph_12"],"to":["test_collection_graph_11"]}],"orphanCollections":["test_collection_graph_14"],"_rev":"_fGkr2nW--B","_id":"_graphs/test_graph_1","name":"test_graph_1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkr2nW--B
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ebe6babf-2955-44fd-be89-6e811383522d
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1/edge/test_collection_graph_16?dropCollection=0
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"edge collection not used in
        graph","errorNum":1930}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a4024b18-61a7-4de4-a14f-55a57a0cd88e
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_1
  response:
    body:
      string: '{"error":false,"code":200,"graph":{"_key":"test_graph_1","numberOfShards":1,"replicationFactor":1,"minReplicationFactor":1,"isSmart":false,"edgeDefinitions":[{"collection":"test_collection_3","from":["test_collection_4"],"to":["test_collection_5"]},{"collection":"test_collection_graph_13","from":["test_collection_graph_11"],"to":["test_collection_graph_12"]}],"orphanCollections":["test_collection_graph_14"],"_rev":"_fGkr3TC--_","_id":"_graphs/test_graph_1","name":"test_graph_1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 9ff7bfbb-3595-498d-88c0-a52fa585506c
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
version: 1
