interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph
  response:
    body:
      string: '{"error":false,"code":200,"graphs":[{"_id":"_graphs/test_graph_1","_key":"test_graph_1","_rev":"_fGkoKqe--_","edgeDefinitions":[{"collection":"test_collection_3","from":["test_collection_4"],"to":["test_collection_5"]}],"isSmart":false,"minReplicationFactor":1,"numberOfShards":1,"orphanCollections":[],"replicationFactor":1,"name":"test_graph_1"},{"_id":"_graphs/test_graph_graph_1","_key":"test_graph_graph_1","_rev":"_fGkrnJa--_","edgeDefinitions":[],"isSmart":false,"minReplicationFactor":1,"numberOfShards":1,"orphanCollections":[],"replicationFactor":1,"name":"test_graph_graph_1"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b06faa48-883f-46d7-aac4-b7b1da043885
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_graph_graph_2"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph
  response:
    body:
      string: '{"error":false,"code":202,"graph":{"_key":"test_graph_graph_2","numberOfShards":1,"replicationFactor":1,"minReplicationFactor":1,"isSmart":false,"edgeDefinitions":[],"orphanCollections":[],"_rev":"_fGkro_6--_","_id":"_graphs/test_graph_graph_2","name":"test_graph_graph_2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkro_6--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0573879a-83aa-4e3a-849f-27dc0dd7c4a2
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"name": "test_graph_graph_2"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph
  response:
    body:
      string: '{"code":409,"error":true,"errorMessage":"graph already exists","errorNum":1925}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ad7b9414-81c9-4413-aab4-d18e738ab44e
      x-gdn-responsetime:
      - '4'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_graph_2
  response:
    body:
      string: '{"error":false,"code":202,"removed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 42cf18e3-73ee-4498-9ca0-332ebf02bb36
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"collection": "test_collection_graph_4"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_graph_2/vertex
  response:
    body:
      string: '{"error":false,"code":202,"graph":{"_key":"test_graph_graph_2","numberOfShards":1,"replicationFactor":1,"minReplicationFactor":1,"isSmart":false,"edgeDefinitions":[],"orphanCollections":["test_collection_graph_4"],"_rev":"_fGkrp6G--_","_id":"_graphs/test_graph_graph_2","name":"test_graph_graph_2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkrp6G--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 023683e9-9c8f-4a9d-84a9-2d8d851cd0e7
      x-gdn-responsetime:
      - '54'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"collection": "test_collection_graph_3", "from": ["test_collection_graph_4"],
      "to": ["test_collection_graph_5"]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_graph_2/edge
  response:
    body:
      string: '{"error":false,"code":202,"graph":{"_key":"test_graph_graph_2","numberOfShards":1,"replicationFactor":1,"minReplicationFactor":1,"isSmart":false,"edgeDefinitions":[{"collection":"test_collection_graph_3","from":["test_collection_graph_4"],"to":["test_collection_graph_5"]}],"orphanCollections":[],"_rev":"_fGkrqgG--_","_id":"_graphs/test_graph_graph_2","name":"test_graph_graph_2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - _fGkrqgG--_
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - dbe14889-a0a9-4b7f-bb7c-2eb39577fbfc
      x-gdn-responsetime:
      - '60'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/graph/test_graph_graph_2?dropCollections=1
  response:
    body:
      string: '{"error":false,"code":202,"removed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - dc475a90-88ac-483f-bc3c-f3a90ed408d6
      x-gdn-responsetime:
      - '135'
    status:
      code: 202
      message: Accepted
[...]
