interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e5e4619b-593c-4355-97a3-72b233c466b0
      x-gdn-responsetime:
      - '10'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/figures
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":0,"objectId":"782016","count":0,"globallyUniqueId":"hB1D42EC62724/782017","keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"searchEnabled":false,"figures":{"indexes":{"count":4,"size":0},"viewIndexes":{"count":0,"size":0},"documentsSize":0,"cacheInUse":false,"cacheSize":0,"cacheUsage":0},"hasStream":false,"id":"782017","isLocal":false,"isSpot":false,"isSystem":false,"name":"test_collection_1"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 047081cd-1f57-4a87-9f25-605fab460339
      x-gdn-responsetime:
      - '17'
    status:
      code: 200
      message: ''
[...]
