interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 33ee9c66-2af8-4c8b-ad38-16f62cd0807f
      x-gdn-responsetime:
      - '21'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '[{"name": "Robert", "surname": "Baratheon", "alive": false, "traits": ["A",
      "H", "C"]}, {"name": "Jaime", "surname": "Lannister", "alive": true, "age":
      36, "traits": ["A", "F", "B"]}, {"name": "Catelyn", "surname": "Stark", "alive":
      false, "age": 40, "traits": ["D", "H", "C"]}, {"name": "Cersei", "surname":
      "Lannister", "alive": true, "age": 36, "traits": ["H", "E", "F"]}, {"name":
      "Daenerys", "surname": "Targaryen", "alive": true, "age": 16, "traits": ["D",
      "H", "C"]}, {"name": "Jorah", "surname": "Mormont", "alive": false, "traits":
      ["A", "B", "C", "F"]}, {"name": "Petyr", "surname": "Baelish", "alive": fa[...]
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export/test_collection_1?limit=42
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"_key":"784693","alive":false,"name":"Robert","surname":"Baratheon","traits":["A","H","C"]},{"_key":"784694","age":36,"alive":true,"name":"Jaime","surname":"Lannister","traits":["A","F","B"]},{"_key":"784695","age":40,"alive":false,"name":"Catelyn","surname":"Stark","traits":["D","H","C"]},{"_key":"784696","age":36,"alive":true,"name":"Cersei","surname":"Lannister","traits":["H","E","F"]},{"_key":"784697","age":16,"alive":true,"name":"Daenerys","surname":"Targaryen","traits":["D","H","C"]},{"_key":"784[...]
[...]
