interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f229e554-72ed-4f10-a010-fb786b03dfa8
      x-gdn-responsetime:
      - '15'
    status:
      code: 200
      message: ''
- request:
    body: '{"query": "FOR doc IN 1..2003 INSERT {value:doc} INTO test_collection_1",
      "count": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[],"hasMore":false,"cached":false,"extra":{"stats":{"writesExecuted":2003,"writesIgnored":0,"scannedFull":0,"scannedIndex":0,"filtered":0,"httpRequests":0,"executionTime":0.17454028129577637,"peakMemoryUsage":151432},"warnings":[]},"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 81a8561b-748b-468f-87ae-cc9c79486538
      x-gdn-responsetime:
      - '177'
    status:
      code: 201
      message: Created
- request:
    body: '{"query": "FOR doc IN test_collection_1 RETURN doc", "count": false, "batchSize":
      1000, "options": {"stream": true}, "stream": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_1/784907","_key":"784907","_rev":"_fGko31a--_","value":1},{"_id":"test_collection_1/784908","_key":"784908","_rev":"_fGko31a--C","value":2},{"_id":"test_collection_1/784909","_key":"784909","_rev":"_fGko31a--F","value":3},{"_id":"test_collection_1/784910","_key":"784910","_rev":"_fGko31e---","value":4},{"_id":"test_collection_1/784911","_key":"784911","_rev":"_fGko31e--B","value":5},{"_id":"test_collection_1/784912","_key":"784912","_rev":"_fGko31e--E","value":6},{"_id":"test_collection_1/784913","_key":"784913","_rev":"_fGko31e--H","value":7},{"_id[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/786912
  response:
    body:
      string: '{"result":[{"_id":"test_collection_1/785907","_key":"785907","_rev":"_fGko36K--J","value":1001},{"_id":"test_collection_1/785908","_key":"785908","_rev":"_fGko36K--M","value":1002},{"_id":"test_collection_1/785909","_key":"785909","_rev":"_fGko36[...]
[...]
