build/
_build/
__pycache__/
pyC8.egg-info/
venv/
dist/

# Enviroment files
.env

# Tox files
.tox

# Test coverage file
.coverage

# Mac OS temp
.DS_Store

# Pytest cache
.pytest_cache/

# Jetbrains IDE temp files
.idea/

# Vim temp files
*~
