interactions:
- request:
    body: '{"name": "test_collection_e2e_collection_6", "waitForSync": false, "keyOptions":
      {"type": "autoincrement", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"793936","globallyUniqueId":"hB1D42EC62724/793937","id":"793937","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"autoincrement","offset":0,"increment":1,"lastValue":0},"name":"test_collection_e2e_collection_6"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 83585ab2-2929-4874-91f1-e4385a9266ec
      x-gdn-responsetime:
      - '78'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"793917","name":"test_collection_e2e_collection_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/793917","searchEnabled":false},{"id":"790537","name":"test_collection_graph_15","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790537","searchEnabled":false},{"i[...]
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_e2e_collection_6/figures
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":0,"objectId":"793936","count":0,"globallyUniqueId":"hB1D42EC62724/793937","keyOptions":{"allowUserKeys":true,"type":"autoincrement","offset":0,"increment":1,"lastValue":0},"searchEnabled":false,"figures":{"indexes":{"count":1,"size":0},"viewIndexes":{"count":0,"size":0},"documentsSize":0,"cacheInUse":false,"cacheSize":0,"cacheUsage":0},"hasStream":false,"id":"793937","isLocal":false,"isSpot":false,"isSystem":false,"name":"test_collection_e2e_collection_6"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b42f513c-794c-4988-a8f8-8a05ead3fecc
      x-gdn-responsetime:
      - '13'
    status:
      code: 200
      message: ''
version: 1
