interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"790537","name":"test_collection_graph_15","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790537","searchEnabled":false},{"id":"790534","name":"test_collection_graph_14","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790534","searchEnabled":false},{"id":"790509","name":"test_collection_graph_13","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790509","searchEnabled":false},{"id"[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 83efd718-4eb3-432a-84d5-0e7c84b6d7e8
      x-gdn-responsetime:
      - '13'
    status:
      code: 200
      message: ''
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkunf6--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkung---_"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkung---C"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkungC--_"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkungC--C"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkungC--F"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - cef88dbe-dca9-4499-86fc-6ff921b84651
      x-gdn-responsetime:
      - '7'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export/test_collection_1
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"_key":"1","loc":[1,1],"text":"foo","val":1},{"_key":"2","loc":[2,2],"text":"foo","val":2},{"_key":"3","loc":[3,3],"text":"foo","val":3},{"_key":"4","loc":[4,4],"text":"bar","val":4},{"_key":"5","loc":[5,5],"text":"bar","val":5},{"_key":"6","loc":[5,5],"text":"bar","val":6}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 34ec4e57-bcaf-42a7-bce1-b73c03c880c5
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export/test_collection_1?offset=2
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"_key":"3","loc":[3,3],"text":"foo","val":3},{"_key":"4","loc":[4,4],"text":"bar","val":4},{"_key":"5","loc":[5,5],"text":"bar","val":5},{"_key":"6","loc":[5,5],"text":"bar","val":6}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 6e280b2b-6f70-483a-940f-8617814df8a3
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export/test_collection_1?limit=2
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"_key":"1","loc":[1,1],"text":"foo","val":1},{"_key":"2","loc":[2,2],"text":"foo","val":2}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ad0ee929-8d81-4204-ba52-c5101ac3dbe3
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
version: 1
