interactions:
- request:
    body: '{"email": "test_user_user_4@macrometa.com", "passwd": "Sdk@123456##", "active":
      true, "displayName": "test_user_user_4", "extra": {"foo": "bar"}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_api/user
  response:
    body:
      string: '{"active":true,"displayName":"test_user_user_4","email":"test_user_user_4@macrometa.com","extra":{"foo":"bar"},"tenant":"pythonsdk_macrometa.com","user":"UTJERHsVQSBy2y2m_9F3e4g","error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 87d4f590-6ca3-4d1a-adc7-211e0ccec1ec
      x-gdn-responsetime:
      - '47'
    status:
      code: 201
      message: Created
- request:
    body: '{"grant": "rw"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_api/user/UTJERHsVQSBy2y2m_9F3e4g/database/test_fabric_1
  response:
    body:
      string: '{"pythonsdk_macrometa.com.test_fabric_1":"rw","error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 57fd4b67-852b-4c81-a33c-2082afacb445
      x-gdn-responsetime:
      - '24'
    status:
      code: 200
      message: OK
- request:
    body: '{"email": "test_user_user_4@macrometa.com", "password": "Sdk@123456##"}'
    headers:
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_open/auth
  response:
    body:
      string: '{"jwt":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjEuNjY4NzU3MzUxNzk5OTkzM2UrNiwiaGFzaCI6MjA1NjM3MTg3NTU4ODg1MTE2NCwiZXhwIjoxNjY4ODAwNTUxLCJpc3MiOiJtYWNyb21ldGEiLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJVVEpFUkhzVlFTQnkyeTJtXzlGM2U0ZyIsInN1YiI6InB5dGhvbnNka19tYWNyb21ldGEuY29tIiwidGVuYW50IjoicHl0aG9uc2RrX21hY3JvbWV0YS5jb20ifQ==.kcxBhXiqR3mT0WyB5YSswQ9SW70XSLn3UGY-tnSEQgE=","tenant":"pythonsdk_macrometa.com","username":"UTJERHsVQSBy2y2m_9F3e4g"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - aeed9afc-ddca-4809-aa0f-1e9e77911b5d
      x-gdn-responsetime:
      - '21'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/database/current
  response:
    body:
      string: '{"error":false,"code":200,"result":{"name":"test_fabric_1","options":{"associated_regions":["dino-fra"],"clusters":["dino-fra"],"dcList":"dino-fra","dynamo_local_tables":false,"metadata":{"foo":"baz"},"name":"pythonsdk_macrometa.com.test_fabric_1","realTime":true,"spotDc":"","status":"available","tenant":"pythonsdk_macrometa.com"},"isSystem":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c03becf5-418f-4f50-9a5c-5f2003a3460d
      x-gdn-responsetime:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: '{"email": "test_user_user_4@macrometa.com", "password": "Sdk@123456##2"}'
    headers:
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_open/auth
  response:
    body:
      string: '{"code":401,"error":true,"errorMessage":"Wrong credentials","errorNum":401}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5d216a57-d85e-44b9-b3e7-2747a02d3271
      x-gdn-responsetime:
      - '24'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"passwd": "Sdk@123456##2"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_api/user/UTJERHsVQSBy2y2m_9F3e4g
  response:
    body:
      string: '{"user":"UTJERHsVQSBy2y2m_9F3e4g","tenant":"pythonsdk_macrometa.com","email":"test_user_user_4@macrometa.com","active":true,"apikey":{"hash":"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855","parent":""},"extra":{"foo":"bar"},"displayName":"test_user_user_4","error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 40625ec1-0b09-4951-8408-100bd465a62b
      x-gdn-responsetime:
      - '47'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/database/current
  response:
    body:
      string: '{"error":true,"errorNum":11,"errorMessage":"forbidden","code":401}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - aec0c516-7556-484b-9662-befa6161155e
      x-gdn-responsetime:
      - '5'
    status:
      code: 401
      message: Unauthorized
version: 1
