interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query/slow
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 75a06821-a726-416b-b350-0bb3d90245f7
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query/slow
  response:
    body:
      string: '{"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 68396742-91be-4913-b96b-8a8bb6e18a41
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/query/current
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ebb28a79-5380-4631-9c3c-12a2698f521f
      x-gdn-responsetime:
      - '5'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/query/slow
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ff8df497-031e-4f77-a58c-2ea6f8073b2b
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
version: 1
