interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query/current
  response:
    body:
      string: '[{"id":"562476","query":"RETURN SLEEP(50)","bindVars":{},"started":"2022-11-18T07:36:07Z","runTime":2.0316789150238037,"state":"executing","stream":false},{"id":"562475","query":"RETURN
        SLEEP(50)","bindVars":{},"started":"2022-11-18T07:36:07Z","runTime":2.047938346862793,"state":"executing","stream":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c615e872-ff4c-45c2-a633-48cddb292f78
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query/562475
  response:
    body:
      string: '{"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2ac11de7-3c95-46c5-a757-2d66c30f5529
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "RETURN SLEEP(50)", "count": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"code":410,"error":true,"errorMessage":"C8QL: query killed (while
        executing)","errorNum":1500}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a0130036-f8c6-4214-b56c-fff42aeffc6b
      x-gdn-responsetime:
      - '2595'
    status:
      code: 410
      message: Gone
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query/562476
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"cannot kill query ''562476'':
        query ID not found","errorNum":1591}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - be644a52-6baa-4571-bf7a-9a9666ac7110
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
version: 1
