interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"782287","name":"test_collection_c8ql_2","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782287","searchEnabled":false},{"id":"782092","name":"test_collection_3","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782092","searchEnabled":false},{"id":"782080"[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - dd89a79d-2ea9-4cb8-8568-ce0c3b8cadad
      x-gdn-responsetime:
      - '16'
    status:
      code: 200
      message: ''
- request:
    body: '{"name": "test_collection_c8ql_5", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"782381","globallyUniqueId":"hB1D42EC62724/782382","id":"782382","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_c8ql_5"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3605e629-4c3e-4c58-b1da-426d2b6c5396
      x-gdn-responsetime:
      - '66'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"query": "INVALID QUERY", "count": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"syntax error, unexpected identifier
        near ''INVALID QUERY'' at position 1:1","errorNum":1501}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 895ebf72-4700-44f0-897a-ee92d3d0d07c
      x-gdn-responsetime:
      - '7'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"data": [{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": 2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text":
      "foo", "loc": [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val":
      6, "text": "bar", "loc": [5, 5]}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_c8ql_5
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":6,"errors":0,"unprocessed":0,"details":{"errors":[],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0b5f38fe-0bd3-4c89-ba0a-13ccbd9fdfff
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "SELECT * FROM test_collection_c8ql_5", "count": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/sql
  response:
    body:
      string: '{"result":[{"_id":"test_collection_c8ql_5/1","_key":"1","_rev":"_fGkofcy--_","loc":[1,1],"text":"foo","val":1},{"_id":"test_collection_c8ql_5/2","_key":"2","_rev":"_fGkofc2--_","loc":[2,2],"text":"foo","val":2},{"_id":"test_collection_c8ql_5/3","_key":"3","_rev":"_fGkofc2--C","loc":[3,3],"text":"foo","val":3},{"_id":"test_collection_c8ql_5/4","_key":"4","_rev":"_fGkofc2--F","loc":[4,4],"text":"bar","val":4},{"_id":"test_collection_c8ql_5/5","_key":"5","_rev":"_fGkofc2--I","loc":[5,5],"text":"bar","val":5},{"_id":"test_collection_c8ql_5/6","_key":"6","_rev":"_fGkofc2--L","loc":[5,5],"text":"bar","val":6}],"hasMore":false,"cached":false,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":6,"scannedIndex":0,"filtered":0,"httpRequests":0,"executionTime":2.923011779785156e-4,"peakMemoryUsage":22830},"warnings":[]},"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a7378c25-88d5-4a77-8d86-ea9b41d05193
      x-gdn-responsetime:
      - '4'
    status:
      code: 201
      message: Created
- request:
    body: '{"query": "\n        FOR d IN test_collection_c8ql_5\n            UPDATE
      {_key: d._key, _val: @val } IN test_collection_c8ql_5\n            RETURN NEW\n        ",
      "count": true, "batchSize": 1, "ttl": 10, "bindVars": {"val": 42}, "options":
      {"fullCount": true, "optimizer": {"rules": ["+all"]}, "failOnWarning": false,
      "profile": true, "maxTransactionSize": 100000, "maxWarningCount": 10, "skipInaccessibleCollections":
      false}, "fullCount": true, "optimizer": {"rules": ["+all"]}, "failOnWarning":
      false, "profile": true, "maxTransactionSize": 100000, "maxWarningCount": 10,
      "skipInaccessibleCollections": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_c8ql_5/1","_key":"1","_rev":"_fGkof8q--_","_val":42,"loc":[1,1],"text":"foo","val":1}],"hasMore":true,"id":"782449","count":6,"extra":{"stats":{"writesExecuted":6,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"fullCount":6,"executionTime":0.002172231674194336,"peakMemoryUsage":87893},"warnings":[],"profile":{"initializing":1.361370086669922e-4,"parsing":2.4318695068359375e-5,"optimizing
        ast":1.52587890625e-5,"loading collections":3.695487976074219e-5,"instantiating
        plan":4.9114227294921875e-5,"optimizing plan":2.9015541076660156e-4,"executing":0.0015196800231933594,"finalizing":7.43865966796875e-5}},"cached":false,"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 4b4c423f-abd1-4ed9-b4e2-cb456fa35619
      x-gdn-responsetime:
      - '6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_c8ql_5/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_c8ql_5","isSystem":false,"searchEnabled":false,"id":"782382","globallyUniqueId":"hB1D42EC62724/782382","count":6}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ced7d98d-e7ba-4d88-8b68-437cfcc60a89
      x-gdn-responsetime:
      - '18'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/782449
  response:
    body:
      string: '{"result":[{"_id":"test_collection_c8ql_5/2","_key":"2","_rev":"_fGkof8q--B","_val":42,"loc":[2,2],"text":"foo","val":2}],"hasMore":true,"id":"782449","count":6,"extra":{"stats":{"writesExecuted":6,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"fullCount":6,"executionTime":0.002172231674194336,"peakMemoryUsage":87893},"warnings":[],"profile":{"initializing":1.361370086669922e-4,"parsing":2.4318695068359375e-5,"optimizing
        ast":1.52587890625e-5,"loading collections":3.695487976074219e-5,"instantiating
        plan":4.9114227294921875e-5,"optimizing plan":2.9015541076660156e-4,"executing":0.0015196800231933594,"finalizing":7.43865966796875e-5}},"cached":false,"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a18d2f2b-43cc-4dfb-a3b0-daa846aa0336
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/782449
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"cursor not found","errorNum":1600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b8079c8b-339c-43e3-bac3-706cf8f8cef0
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
version: 1
