interactions:
- request:
    body: '{"name": "test_collection_c8ql_2", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"782286","globallyUniqueId":"hB1D42EC62724/782287","id":"782287","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_c8ql_2"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8212cf43-c4a2-43ea-9219-c899746df6f7
      x-gdn-responsetime:
      - '63'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"782287","name":"test_collection_c8ql_2","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782287","searchEnabled":false},{"id":"782092","name":"test_collection_3","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782092","searchEnabled":false},{"id":"782080","name[...]
[...]
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_c8ql_2?returnNew=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_c8ql_2/1","_key":"1","_rev":"_fGkoZ8u--_"},{"_id":"test_collection_c8ql_2/2","_key":"2","_rev":"_fGkoZ8u--C"},{"_id":"test_collection_c8ql_2/3","_key":"3","_rev":"_fGkoZ8u--F"},{"_id":"test_collection_c8ql_2/4","_key":"4","_rev":"_fGkoZ8u--I"},{"_id":"test_collection_c8ql_2/5","_key":"5","_rev":"_fGkoZ8y--A"},{"_id":"test_collection_c8ql_2/6","_key":"6","_rev":"_fGkoZ8y--D"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fc57c225-d4bf-425d-a44c-42fce5e66bbb
      x-gdn-responsetime:
      - '6'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"query": "FOR u IN @@collection RETURN u", "bindVars": {"@collection":
      "test_collection_c8ql_2"}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"_key":"1","loc":[1,1],"text":"foo","val":1},{"_key":"2","loc":[2,2],"text":"foo","val":2},{"_key":"3","loc":[3,3],"text":"foo","val":3},{"_key":"4","loc":[4,4],"text":"bar","val":4},{"_key":"5","loc":[5,5],"text":"bar","val":5},{"_key":"6","loc":[5,5],"text":"bar","val":6}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c84f77eb-c0d8-4984-a620-307c6ba83202
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "FOR u IN @@collection FILTER u.val > @value RETURN u", "bindVars":
      {"@collection": "test_collection_c8ql_2", "value": 1}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"_key":"2","loc":[2,2],"text":"foo","val":2},{"_key":"3","loc":[3,3],"text":"foo","val":3},{"_key":"4","loc":[4,4],"text":"bar","val":4},{"_key":"5","loc":[5,5],"text":"bar","val":5},{"_key":"6","loc":[5,5],"text":"bar","val":6}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 32fdda3b-9ca1-4130-996f-946705e520d1
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "FOR u IN test_collection_c8ql_2 RETURN u"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"_key":"1","loc":[1,1],"text":"foo","val":1},{"_key":"2","loc":[2,2],"text":"foo","val":2},{"_key":"3","loc":[3,3],"text":"foo","val":3},{"_key":"4","loc":[4,4],"text":"bar","val":4},{"_key":"5","loc":[5,5],"text":"bar","val":5},{"_key":"6","loc":[5,5],"text":"bar","val":6}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 790a0956-2786-44a6-9d82-4d417f3332dc
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
version: 1
