interactions:
- request:
    body: '{"name": "test_collection_c8ql_1", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"782267","globallyUniqueId":"hB1D42EC62724/782268","id":"782268","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_c8ql_1"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e7742529-f908-4a53-9380-163564709464
      x-gdn-responsetime:
      - '71'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"782092","name":"test_collection_3","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782092","searchEnabled":false},{"id":"782080","name":"test_collection_5","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782080","searchEnabled":false},{"id":"782017","name":"te[...]
- request:
    body: '{"query": "REMOVE \"1\" IN test_collection_c8ql_1"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"Export \"query\" cannot contain
        \"remove\" keyword.","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ccf54ed0-2e4e-4d02-ad85-c0d542ba43c5
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"query": "UPDATE @id WITH {alive: false} IN @@collection", "bindVars":
      {"@collection": "test_collection_c8ql_1", "id": 2}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"Export \"query\" cannot contain
        \"update\" keyword.","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 01795204-9542-4641-ba38-f500013f299f
      x-gdn-responsetime:
      - '2'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"query": "INSERT @value INTO @@collection", "bindVars": {"@collection":
      "test_collection_c8ql_1", "value": {"value": 10}}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"Export \"query\" cannot contain
        \"insert\" keyword.","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0f967416-861f-4685-b7d6-72cd884be0a6
      x-gdn-responsetime:
      - '3'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"query": "FOR u IN @@collection REPLACE @value IN @@collection", "bindVars":
      {"@collection": "test_collection_c8ql_1", "value": {"value": 2, "text": "zoo
      "}}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"Export \"query\" cannot contain
        \"replace\" keyword.","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 893dabb8-1103-464a-b476-e19a381e33ea
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"query": "UPSERT @value INSERT @toInsert UPDATE @toUpsert in @@collection",
      "bindVars": {"@collection": "test_collection_c8ql_1", "value": {"text": "zoo
      "}, "toInsert": {"_key": 2, "updatedAt": "DATE_NOW()"}, "toUpsert": {"_key":
      2, "updatedAt": "December"}}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"Export \"query\" cannot contain
        \"upsert\" keyword.","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0cd3c098-762a-45f8-b64b-1e4cd972cfe3
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
version: 1
