interactions:
- request:
    body: '{"name": "test_collection_c8ql_6", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"782491","globallyUniqueId":"hB1D42EC62724/782492","id":"782492","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_c8ql_6"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3d2a1926-6d36-40a9-bb4b-0f98298b9240
      x-gdn-responsetime:
      - '70'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"782287",[...]
- request:
    body: '{"query": "FOR doc IN 1..2003 INSERT {value:doc} INTO test_collection_c8ql_6",
      "count": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[],"hasMore":false,"cached":false,"extra":{"stats":{"writesExecuted":2003,"writesIgnored":0,"scannedFull":0,"scannedIndex":0,"filtered":0,"httpRequests":0,"executionTime":0.1491682529449463,"peakMemoryUsage":151432},"warnings":[]},"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1d755733-cd43-4693-84a6-47740be740c6
      x-gdn-responsetime:
      - '154'
    status:
      code: 201
      message: Created
- request:
    body: '{"query": "FOR doc IN test_collection_c8ql_6 FILTER doc._key > 0 RETURN
      doc", "count": false, "batchSize": 1000, "options": {"stream": true}, "stream":
      true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_c8ql_6/782504","_key":"782504","_rev":"_fGkong---_","value":1},{"_id":"test_collection_c8ql_6/782505","_key":"782505","_rev":"_fGkong---C","value":2},{"_id":"test_collection_c8ql_6/782506","_key":"782506","_rev":"_fGkong---F","value":3},{"_id":"test_collection_c8ql_6/782507","_key":"782507","_rev":"_fGkong---I","value":4},{"_id":"test_collection_c8ql_6/782508","_key":"782508","_rev":"_fGkong---L","value":5},{"_id":"test_collection_c8ql_6/782509","_key":"782509","_rev":"_fGkong---O","value":6},{"_id":"test_collection_c8ql_6/782510","_key":"782510","_rev":[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/784508
  response:
    body:
      string: '{"result":[{"_id":"test_collection_c8ql_6/783504","_key":"783504","_rev":"_fGkonkK--_","value":1001},{"_id":"test_collection_c8ql_6/783505","_key":"783505","_rev":"_fGkonkK--C","value":1002},{"_id":"test_collection_c8ql_6/783506","_key":"783506",[...]
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_c8ql_6/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_c8ql_6","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782492","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782492","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 731786c7-a439-465b-ba97-e294eb0b26b1
      x-gdn-responsetime:
      - '69'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_c8ql_6/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_c8ql_6","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782492","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782492","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 6e0b6e0b-c822-496b-933b-1398beabe238
      x-gdn-responsetime:
      - '24'
    status:
      code: 200
      message: ''
version: 1
