interactions:
- request:
    body: '{"name": "test_collection_c8ql_4", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"782362","globallyUniqueId":"hB1D42EC62724/782363","id":"782363","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_c8ql_4"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a80cbde0-223e-494f-b929-d1edbb6a7495
      x-gdn-responsetime:
      - '61'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"782287","name":"test_collection_c8ql_2","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782287","searchEnabled":false},{"id":"782092",[...]
- request:
    body: '{"query": "INVALID QUERY"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"syntax error, unexpected identifier
        near ''INVALID QUERY'' at position 1:1","errorNum":1501}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a389e092-5094-4b6c-a957-0aa032d0f80a
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"query": "FOR d IN test_collection_c8ql_4 RETURN d"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query
  response:
    body:
      string: '{"error":false,"code":200,"parsed":true,"collections":["test_collection_c8ql_4"],"bindVars":[],"ast":[{"type":"root","subNodes":[{"type":"for","subNodes":[{"type":"variable","name":"d","id":0},{"type":"collection","name":"test_collection_c8ql_4"},{"type":"no-op"}]},{"type":"return","subNodes":[{"type":"reference","name":"d","id":0}]}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7c8f05c0-b00e-4803-9f27-dfa659ed813b
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
version: 1
