interactions:
- request:
    body: '{"name": "test_collection_c8ql_3", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"782342","globallyUniqueId":"hB1D42EC62724/782343","id":"782343","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_c8ql_3"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a1e9be39-93a6-44af-94de-39947606e134
      x-gdn-responsetime:
      - '53'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"782287","name":"test_collection_c8ql_2","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782287","searchEnabled":false},{"id":"782092","name":"test_collection_3","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782092","searchEnabled":false},{"id":"782080","name[...]
- request:
    body: '{"query": "INVALID QUERY", "options": {"allPlans": false}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query/explain
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"syntax error, unexpected identifier
        near ''INVALID QUERY'' at position 1:1 (while parsing)","errorNum":1501}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2a8689b7-c3c7-45b9-b02f-d2ee0a94ca2a
      x-gdn-responsetime:
      - '5'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"query": "FOR d IN test_collection_c8ql_3 RETURN d", "options": {"allPlans":
      false, "optimizer": {"rules": ["-all", "+use-index-range"]}}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query/explain
  response:
    body:
      string: '{"plan":{"nodes":[{"type":"SingletonNode","dependencies":[],"id":1,"estimatedCost":1,"estimatedNrItems":1},{"type":"EnumerateCollectionNode","dependencies":[1],"id":2,"estimatedCost":2,"estimatedNrItems":0,"random":false,"indexHint":{"forced":false,"type":"none"},"outVariable":{"id":0,"name":"d"},"projections":[],"producesResult":true,"database":"pythonsdk_macrometa.com.test_fabric_1","collection":"test_collection_c8ql_3","satellite":false},{"type":"ReturnNode","dependencies":[2],"id":3,"estimatedCost":2,"estimatedNrItems":0,"inVariable":{"id":0,"name":"d"},"count":true}],"rules":[],"collections":[{"name":"test_collection_c8ql_3","type":"read"}],"variables":[{"id":0,"name":"d"}],"estimatedCost":2,"estimatedNrItems":0,"initialize":true,"isModificationQuery":false},"cacheable":true,"warnings":[],"stats":{"rulesExecuted":2,"rulesSkipped":34,"plansCreated":1},"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d8eb230a-89a6-4da1-8ea1-ff51e44c922f
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "FOR d IN test_collection_c8ql_3 RETURN d", "options": {"allPlans":
      true, "maxNumberOfPlans": 10, "optimizer": {"rules": ["-all", "+use-index-range"]}}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/query/explain
  response:
    body:
      string: '{"plans":[{"nodes":[{"type":"SingletonNode","dependencies":[],"id":1,"estimatedCost":1,"estimatedNrItems":1},{"type":"EnumerateCollectionNode","dependencies":[1],"id":2,"estimatedCost":2,"estimatedNrItems":0,"random":false,"indexHint":{"forced":false,"type":"none"},"outVariable":{"id":0,"name":"d"},"projections":[],"producesResult":true,"database":"pythonsdk_macrometa.com.test_fabric_1","collection":"test_collection_c8ql_3","satellite":false},{"type":"ReturnNode","dependencies":[2],"id":3,"estimatedCost":2,"estimatedNrItems":0,"inVariable":{"id":0,"name":"d"},"count":true}],"rules":[],"collections":[{"name":"test_collection_c8ql_3","type":"read"}],"variables":[{"id":0,"name":"d"}],"estimatedCost":2,"estimatedNrItems":0,"initialize":true,"isModificationQuery":false}],"warnings":[],"stats":{"rulesExecuted":2,"rulesSkipped":34,"plansCreated":1},"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 855fa842-2a5b-4c30-a84a-52a34b2cb399
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
version: 1
