interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/database/metadata
  response:
    body:
      string: '{"error":false,"code":200,"result":{"name":"test_fabric_1","options":{"associated_regions":["dino-fra"],"clusters":["dino-fra"],"dcList":"dino-fra","dynamo_local_tables":false,"metadata":null,"name":"pythonsdk_macrometa.com.test_fabric_1","realTime":true,"spotDc":"","status":"available","tenant":"pythonsdk_macrometa.com"},"isSystem":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e0f4aefc-9e75-4058-9fc3-e5443dfb4fa0
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"metadata": {"foo": "bar"}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/database/metadata
  response:
    body:
      string: '{"error":false,"code":201,"result":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 08ab9f75-6ef2-4deb-a6ef-2c3b68e32dd6
      x-gdn-responsetime:
      - '24'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/database/metadata
  response:
    body:
      string: '{"error":false,"code":200,"result":{"name":"test_fabric_1","options":{"associated_regions":["dino-fra"],"clusters":["dino-fra"],"dcList":"dino-fra","dynamo_local_tables":false,"metadata":{"foo":"baz"},"name":"pythonsdk_macrometa.com.test_fabric_1","realTime":true,"spotDc":"","status":"available","tenant":"pythonsdk_macrometa.com"},"isSystem":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 45886bee-c41c-41e9-b8c1-09891c998578
      x-gdn-responsetime:
      - '6'
    status:
      code: 200
      message: OK
version: 1
