interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/database
  response:
    body:
      string: '{"error":false,"code":200,"result":["_system","test_fabric_1"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 9df73287-69d8-4412-88bd-71cd3300e4a5
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test_fabric_fabric_2", "options": {"dcList": ""}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/database
  response:
    body:
      string: '{"error":false,"code":201,"result":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 07f3063b-d042-4ef1-b5a2-d87b27505d13
      x-gdn-responsetime:
      - '616'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "test_fabric_fabric_2", "options": {"dcList": ""}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/database
  response:
    body:
      string: '{"code":409,"error":true,"errorMessage":"duplicate database name ''pythonsdk_macrometa.com.test_fabric_fabric_2''","errorNum":1207}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0a097ff1-e273-4967-a9b5-2490d5951e53
      x-gdn-responsetime:
      - '24'
    status:
      code: 409
      message: Conflict
- request:
    body: '{"name": "test_fabric_fabric_2", "options": {"dcList": ""}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/database
  response:
    body:
      string: '{"code":403,"error":true,"errorMessage":"operation only allowed in
        system database","errorNum":1230}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 522690a0-3b8b-4e85-bde5-9cea00b8e7f6
      x-gdn-responsetime:
      - '3'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/database/test_fabric_fabric_2
  response:
    body:
      string: '{"code":403,"error":true,"errorMessage":"operation only allowed in
        system database","errorNum":1230}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0b45e7e5-689e-4514-93f5-3ebe76674de7
      x-gdn-responsetime:
      - '3'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/database/test_fabric_fabric_2
  response:
    body:
      string: '{"error":false,"code":200,"result":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7cf55d30-ec68-4ef2-aa72-6ade9835e893
      x-gdn-responsetime:
      - '422'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/database/test_fabric_fabric_2
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"database not found","errorNum":1228}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 343715cd-79d0-4b1a-bc3d-39b0fa8bc887
      x-gdn-responsetime:
      - '56'
    status:
      code: 404
      message: Not Found
version: 1
