interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/user
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"tenant":"pythonsdk_macrometa.com","email":"pythonsdk@macrometa.com","active":true,"extra":{},"user":"root","displayName":"root"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5a7c27af-d8e2-4568-bbdf-7cacbf7fe12e
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"email": "test_user_bad_1", "password": "Sdk@1234!"}'
    headers:
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_open/auth
  response:
    body:
      string: '{"code":401,"error":true,"errorMessage":"forbidden","errorNum":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 373be052-8b8f-4c17-a02d-e9ae3573b742
      x-gdn-responsetime:
      - '3'
    status:
      code: 401
      message: Unauthorized
version: 1
