interactions:
- request:
    body: '{"email": "test_user_client_1@macrometa.io", "passwd": "121@Macrometa",
      "active": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_api/user
  response:
    body:
      string: '{"active":true,"displayName":"UXPxn1cZWSfepiWX1Oh_UdA","email":"test_user_client_1@macrometa.io","extra":{},"tenant":"pythonsdk_macrometa.com","user":"UXPxn1cZWSfepiWX1Oh_UdA","error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e8e464de-63d5-4212-b293-b73b7bbdb0e7
      x-gdn-responsetime:
      - '46'
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "121@Macrometa", "email": "test_user_client_1@macrometa.io"}'
    headers:
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_open/auth
  response:
    body:
      string: '{"jwt":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjEuNjY4NzU2OTc5NzExMTE5ZSs2LCJoYXNoIjoxNzk0MTE4MDM4MzMxNjUyMDYxOSwiZXhwIjoxNjY4ODAwMTc5LCJpc3MiOiJtYWNyb21ldGEiLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJVWFB4bjFjWldTZmVwaVdYMU9oX1VkQSIsInN1YiI6InB5dGhvbnNka19tYWNyb21ldGEuY29tIiwidGVuYW50IjoicHl0aG9uc2RrX21hY3JvbWV0YS5jb20ifQ==.evDMfOvIeXg6tKkXFsHIpW9Zps9i03t0PAsr_cqAZ7c=","tenant":"pythonsdk_macrometa.com","username":"UXPxn1cZWSfepiWX1Oh_UdA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - bf2fbc7b-494a-48b6-8d36-b7093e120c9a
      x-gdn-responsetime:
      - '19'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"password": "Mm_5f44cda4$", "email": "test_user_511ef31a74@macrometa.io"}'
    headers:
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_open/auth
  response:
    body:
      string: '{"code":401,"error":true,"errorMessage":"forbidden","errorNum":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - efce8a8e-f82c-4924-a31f-f12bd5c5a3e8
      x-gdn-responsetime:
      - '4'
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_api/user/UXPxn1cZWSfepiWX1Oh_UdA
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7b442500-9e36-4eb1-b397-4c4bce867248
      x-gdn-responsetime:
      - '20'
    status:
      code: 202
      message: Accepted
version: 1
