interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
[...]
- request:
    body: '{"data": [{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": 2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text":
      "foo", "loc": [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val":
      6, "text": "bar", "loc": [5, 5]}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_cursor_1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":0,"errors":6,"unprocessed":0,"details":{"errors":[{"document":{"_key":"1","val":1,"text":"foo","loc":[1,1]},"errorNumber":1210,"errorMessage":"1:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"2","val":2,"text":"foo","loc":[2,2]},"errorNumber":1210,"errorMessage":"2:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"3","val":3,"text":"foo","loc":[3,3]},"errorNumber":1210,"errorMessage":"3:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"4","val":4,"text":"bar","loc":[4,4]},"errorNumber":1210,"errorMessage":"4:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"5","val":5,"text":"bar","loc":[5,5]},"errorNumber":1210,"errorMessage":"5:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"6","val":6,"text":"bar","loc":[5,5]},"errorNumber":1210,"errorMessage":"6:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."}],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1210":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a0bf3be9-156f-4f78-9b5f-5e7eb013f366
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "FOR d IN test_collection_cursor_1 SORT d._key RETURN d", "count":
      true, "batchSize": 1, "ttl": 30, "options": {"optimizer": {"rules": ["+all"]},
      "profile": true}, "optimizer": {"rules": ["+all"]}, "profile": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/1","_key":"1","_rev":"_fGko8iu--_","_val":42,"loc":[1,1],"text":"foo","val":1}],"hasMore":true,"id":"787049","count":6,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":6.172657012939453e-4,"peakMemoryUsage":24214},"warnings":[],"profile":{"initializing":1.0037422180175781e-4,"parsing":1.8596649169921875e-5,"optimizing
        ast":6.67572021484375e-6,"loading collections":1.2636184692382813e-5,"instantiating
        plan":2.8133392333984375e-5,"optimizing plan":1.4662742614746094e-4,"executing":2.4318695068359375e-4,"finalizing":3.981590270996094e-5}},"cached":false,"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ec16ac73-a2be-4698-928a-ca5c3827fe02
      x-gdn-responsetime:
      - '3'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787049
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/2","_key":"2","_rev":"_fGko8iu--B","_val":42,"loc":[2,2],"text":"foo","val":2}],"hasMore":true,"id":"787049","count":6,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":6.172657012939453e-4,"peakMemoryUsage":24214},"warnings":[],"profile":{"initializing":1.0037422180175781e-4,"parsing":1.8596649169921875e-5,"optimizing
        ast":6.67572021484375e-6,"loading collections":1.2636184692382813e-5,"instantiating
        plan":2.8133392333984375e-5,"optimizing plan":1.4662742614746094e-4,"executing":2.4318695068359375e-4,"finalizing":3.981590270996094e-5}},"cached":false,"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 06e5499f-b98a-4b3e-9a57-9aca6fa312e3
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787049
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/6","_key":"6","_rev":"_fGko6xW--G","loc":[5,5],"text":"bar","val":6}],"hasMore":false,"count":6,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":6.172657012939453e-4,"peakMemoryUsage":24214},"warnings":[],"profile":{"initializing":1.0037422180175781e-4,"parsing":1.8596649169921875e-5,"optimizing
        ast":6.67572021484375e-6,"loading collections":1.2636184692382813e-5,"instantiating
        plan":2.8133392333984375e-5,"optimizing plan":1.4662742614746094e-4,"executing":2.4318695068359375e-4,"finalizing":3.981590270996094e-5}},"cached":false,"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fc436a60-cb1a-4946-8f32-0052457ba41e
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
version: 1
