interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
[...]
- request:
    body: '{"data": [{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": 2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text":
      "foo", "loc": [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val":
      6, "text": "bar", "loc": [5, 5]}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_cursor_1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":0,"errors":6,"unprocessed":0,"details":{"errors":[{"document":{"_key":"1","val":1,"text":"foo","loc":[1,1]},"errorNumber":1210,"errorMessage":"1:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"2","val":2,"text":"foo","loc":[2,2]},"errorNumber":1210,"errorMessage":"2:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"3","val":3,"text":"foo","loc":[3,3]},"errorNumber":1210,"errorMessage":"3:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"4","val":4,"text":"bar","loc":[4,4]},"errorNumber":1210,"errorMessage":"4:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"5","val":5,"text":"bar","loc":[5,5]},"errorNumber":1210,"errorMessage":"5:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"6","val":6,"text":"bar","loc":[5,5]},"errorNumber":1210,"errorMessage":"6:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."}],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1210":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b9172b93-9e1e-4a23-8429-43338683c507
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "FOR d IN test_collection_cursor_1 SORT d._key RETURN d", "count":
      true, "batchSize": 2, "ttl": 30, "options": {"optimizer": {"rules": ["+all"]},
      "profile": true}, "optimizer": {"rules": ["+all"]}, "profile": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/1","_key":"1","_rev":"_fGko8iu--_","_val":42,"loc":[1,1],"text":"foo","val":1},{"_id":"test_collection_cursor_1/2","_key":"2","_rev":"_fGko8iu--B","_val":42,"loc":[2,2],"text":"foo","val":2}],"hasMore":true,"id":"787036","count":6,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":0.0012729167938232422,"peakMemoryUsage":24214},"warnings":[],"profile":{"initializing":1.7380714416503906e-4,"parsing":2.956390380859375e-5,"optimizing
        ast":1.0251998901367188e-5,"loading collections":2.4080276489257813e-5,"instantiating
        plan":1.0442733764648438e-4,"optimizing plan":3.1685829162597656e-4,"executing":5.269050598144531e-4,"finalizing":5.53131103515625e-5}},"cached":false,"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 4e641b5d-b1ad-4c30-8967-b712aaee4bb2
      x-gdn-responsetime:
      - '4'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787036
  response:
    body:
      string: '{"id":"787036","error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8591866b-04d4-4945-9940-436796bab38f
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787036
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"cursor not found","errorNum":1600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0780eb2e-7e91-494f-be60-16491a5dccd8
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787036
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"cursor not found","errorNum":1600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a437cffa-d62a-427a-ac37-85f5f89936ff
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
version: 1
