interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
[...]
- request:
    body: '{"data": [{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": 2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text":
      "foo", "loc": [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val":
      6, "text": "bar", "loc": [5, 5]}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_cursor_1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":0,"errors":6,"unprocessed":0,"details":{"errors":[{"document":{"_key":"1","val":1,"text":"foo","loc":[1,1]},"errorNumber":1210,"errorMessage":"1:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"2","val":2,"text":"foo","loc":[2,2]},"errorNumber":1210,"errorMessage":"2:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"3","val":3,"text":"foo","loc":[3,3]},"errorNumber":1210,"errorMessage":"3:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"4","val":4,"text":"bar","loc":[4,4]},"errorNumber":1210,"errorMessage":"4:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"5","val":5,"text":"bar","loc":[5,5]},"errorNumber":1210,"errorMessage":"5:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"6","val":6,"text":"bar","loc":[5,5]},"errorNumber":1210,"errorMessage":"6:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."}],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1210":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3a45b246-78e5-4f33-b789-02d197f2740f
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "FOR d IN test_collection_cursor_1 SORT d._key RETURN d", "count":
      false, "batchSize": 2, "ttl": 30, "options": {"optimizer": {"rules": ["+all"]},
      "profile": true}, "optimizer": {"rules": ["+all"]}, "profile": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/1","_key":"1","_rev":"_fGko8iu--_","_val":42,"loc":[1,1],"text":"foo","val":1},{"_id":"test_collection_cursor_1/2","_key":"2","_rev":"_fGko8iu--B","_val":42,"loc":[2,2],"text":"foo","val":2}],"hasMore":true,"id":"787056","extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":7.092952728271484e-4,"peakMemoryUsage":24214},"warnings":[],"profile":{"initializing":9.250640869140625e-5,"parsing":1.6450881958007813e-5,"optimizing
        ast":5.7220458984375e-6,"loading collections":1.2159347534179688e-5,"instantiating
        plan":5.9604644775390625e-5,"optimizing plan":2.5653839111328125e-4,"executing":2.1028518676757813e-4,"finalizing":3.647804260253906e-5}},"cached":false,"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 12b7f580-a6f0-4542-8bcd-c367260f8c92
      x-gdn-responsetime:
      - '4'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787056
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/3","_key":"3","_rev":"_fGko6xS--F","loc":[3,3],"text":"foo","val":3},{"_id":"test_collection_cursor_1/4","_key":"4","_rev":"_fGko6xW--A","loc":[4,4],"text":"bar","val":4}],"hasMore":true,"id":"787056","extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":7.092952728271484e-4,"peakMemoryUsage":24214},"warnings":[],"profile":{"initializing":9.250640869140625e-5,"parsing":1.6450881958007813e-5,"optimizing
        ast":5.7220458984375e-6,"loading collections":1.2159347534179688e-5,"instantiating
        plan":5.9604644775390625e-5,"optimizing plan":2.5653839111328125e-4,"executing":2.1028518676757813e-4,"finalizing":3.647804260253906e-5}},"cached":false,"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8b2a8771-d51f-4f5c-8c81-bc1d0e4be421
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787056
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/5","_key":"5","_rev":"_fGko6xW--D","loc":[5,5],"text":"bar","val":5},{"_id":"test_collection_cursor_1/6","_key":"6","_rev":"_fGko6xW--G","loc":[5,5],"text":"bar","val":6}],"hasMore":false,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":7.092952728271484e-4,"peakMemoryUsage":24214},"warnings":[],"profile":{"initializing":9.250640869140625e-5,"parsing":1.6450881958007813e-5,"optimizing
        ast":5.7220458984375e-6,"loading collections":1.2159347534179688e-5,"instantiating
        plan":5.9604644775390625e-5,"optimizing plan":2.5653839111328125e-4,"executing":2.1028518676757813e-4,"finalizing":3.647804260253906e-5}},"cached":false,"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0df817f8-dc05-4b9f-aa90-990ad81a3452
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
version: 1
