interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: '{"name": "test_collection_cursor_1", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"786933","globallyUniqueId":"hB1D42EC62724/786934","id":"786934","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_cursor_1"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fa8478eb-b67f-45ac-b742-bd565b4deb12
      x-gdn-responsetime:
      - '83'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"data": [{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": 2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text":
      "foo", "loc": [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val":
      6, "text": "bar", "loc": [5, 5]}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_cursor_1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":6,"errors":0,"unprocessed":0,"details":{"errors":[],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e38bd3a3-252b-4474-b591-0ad5e26905e5
      x-gdn-responsetime:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "FOR d IN test_collection_cursor_1 SORT d._key RETURN d", "count":
      true, "batchSize": 2, "ttl": 30, "options": {"optimizer": {"rules": ["+all"]},
      "profile": true}, "optimizer": {"rules": ["+all"]}, "profile": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/1","_key":"1","_rev":"_fGko6xS--_","loc":[1,1],"text":"foo","val":1},{"_id":"test_collection_cursor_1/2","_key":"2","_rev":"_fGko6xS--C","loc":[2,2],"text":"foo","val":2}],"hasMore":true,"id":"786948","count":6,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":5.848407745361328e-4,"peakMemoryUsage":24198},"warnings":[],"profile":{"initializing":1.201629638671875e-4,"parsing":1.7404556274414063e-5,"optimizing
        ast":6.4373016357421875e-6,"loading collections":1.4066696166992188e-5,"instantiating
        plan":2.9802322387695313e-5,"optimizing plan":1.4066696166992188e-4,"executing":2.0051002502441406e-4,"finalizing":3.62396240234375e-5}},"cached":false,"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3ad49fd7-9a22-4c12-ad4d-ba3101c2e489
      x-gdn-responsetime:
      - '2'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/786948
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/3","_key":"3","_rev":"_fGko6xS--F","loc":[3,3],"text":"foo","val":3},{"_id":"test_collection_cursor_1/4","_key":"4","_rev":"_fGko6xW--A","loc":[4,4],"text":"bar","val":4}],"hasMore":true,"id":"786948","count":6,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":5.848407745361328e-4,"peakMemoryUsage":24198},"warnings":[],"profile":{"initializing":1.201629638671875e-4,"parsing":1.7404556274414063e-5,"optimizing
        ast":6.4373016357421875e-6,"loading collections":1.4066696166992188e-5,"instantiating
        plan":2.9802322387695313e-5,"optimizing plan":1.4066696166992188e-4,"executing":2.0051002502441406e-4,"finalizing":3.62396240234375e-5}},"cached":false,"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 6c8d52a0-a41d-438d-808b-e84ff0b87205
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/786948
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"cursor not found","errorNum":1600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0a06ae8e-cd8e-4b69-ad0c-bf4e47d4f565
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
version: 1
