interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
[...]
- request:
    body: '{"data": [{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": 2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text":
      "foo", "loc": [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val":
      6, "text": "bar", "loc": [5, 5]}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_cursor_1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":0,"errors":6,"unprocessed":0,"details":{"errors":[{"document":{"_key":"1","val":1,"text":"foo","loc":[1,1]},"errorNumber":1210,"errorMessage":"1:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"2","val":2,"text":"foo","loc":[2,2]},"errorNumber":1210,"errorMessage":"2:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"3","val":3,"text":"foo","loc":[3,3]},"errorNumber":1210,"errorMessage":"3:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"4","val":4,"text":"bar","loc":[4,4]},"errorNumber":1210,"errorMessage":"4:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"5","val":5,"text":"bar","loc":[5,5]},"errorNumber":1210,"errorMessage":"5:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."},{"document":{"_key":"6","val":6,"text":"bar","loc":[5,5]},"errorNumber":1210,"errorMessage":"6:
        Each document in a collection must have a unique key, and the provided one
        is already used in collection ''test_collection_cursor_1''."}],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1210":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e3ed1e67-bda2-4e6c-94af-d55a1192c72f
      x-gdn-responsetime:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n        FOR d IN test_collection_cursor_1 FILTER d._key ==
      @first OR d._key == @second\n        UPDATE {_key: d._key, _val: @val } IN test_collection_cursor_1\n        RETURN
      NEW\n        ", "count": true, "batchSize": 1, "ttl": 30, "bindVars": {"first":
      "1", "second": "2", "val": 42}, "options": {"optimizer": {"rules": ["+all"]},
      "profile": true}, "optimizer": {"rules": ["+all"]}, "profile": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/1","_key":"1","_rev":"_fGko8iu--_","_val":42,"loc":[1,1],"text":"foo","val":1}],"hasMore":true,"id":"787002","count":2,"extra":{"stats":{"writesExecuted":2,"writesIgnored":0,"scannedFull":0,"scannedIndex":2,"filtered":0,"httpRequests":0,"executionTime":0.0041921138763427734,"peakMemoryUsage":93564},"warnings":[],"profile":{"initializing":2.460479736328125e-4,"parsing":2.09808349609375e-5,"optimizing
        ast":1.2159347534179688e-5,"loading collections":2.1696090698242188e-5,"instantiating
        plan":4.863739013671875e-5,"optimizing plan":3.421306610107422e-4,"executing":0.0033502578735351563,"finalizing":1.2946128845214844e-4}},"cached":false,"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ebb1828b-cb23-45c8-87c4-ee7336cbe510
      x-gdn-responsetime:
      - '7'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787002
  response:
    body:
      string: '{"result":[{"_id":"test_collection_cursor_1/2","_key":"2","_rev":"_fGko8iu--B","_val":42,"loc":[2,2],"text":"foo","val":2}],"hasMore":false,"count":2,"extra":{"stats":{"writesExecuted":2,"writesIgnored":0,"scannedFull":0,"scannedIndex":2,"filtered":0,"httpRequests":0,"executionTime":0.0041921138763427734,"peakMemoryUsage":93564},"warnings":[],"profile":{"initializing":2.460479736328125e-4,"parsing":2.09808349609375e-5,"optimizing
        ast":1.2159347534179688e-5,"loading collections":2.1696090698242188e-5,"instantiating
        plan":4.863739013671875e-5,"optimizing plan":3.421306610107422e-4,"executing":0.0033502578735351563,"finalizing":1.2946128845214844e-4}},"cached":false,"error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - bbf46bd4-737d-4be3-a919-59f702876149
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787002
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"cursor not found","errorNum":1600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1c053a9e-103b-4f8f-ab5c-a94b699e43db
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor/787002
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"cursor not found","errorNum":1600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 18a766fa-2490-42e5-988b-5b46e5c3df52
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
version: 1
