interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"790537","name":"test_collection_graph_15","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790537","searchEnabled":false},{"id":"790534","name":"test_collection_graph_14","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790534","searchEnabled":false},{"id":"790509","name":"test_collection_graph_13","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790509","searchEnabled":false},{"id"[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b0705445-1d68-48a3-ab2c-7cab8f59c71a
      x-gdn-responsetime:
      - '9'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/index?collection=test_collection_1
  response:
    body:
      string: '{"error":false,"code":200,"indexes":[{"fields":["_key"],"id":"test_collection_1/0","name":"primary","selectivityEstimate":1,"sparse":false,"type":"primary","unique":true},{"deduplicate":true,"fields":["val"],"id":"test_collection_1/782030","name":"idx_1749818479143288832","selectivityEstimate":1,"sparse":false,"type":"skiplist","unique":false},{"fields":["text"],"id":"test_collection_1/782036","minLength":2,"name":"idx_1749818479318401024","sparse":true,"type":"fulltext","unique":false},{"bestIndexedLevel":17,"fields":["loc"],"geoJson":false,"id":"test_collection_1/782041","maxNumCoverCells":8,"name":"idx_1749818479507144704","sparse":true,"type":"geo","unique":false,"worstIndexedLevel":4},{"deduplicate":true,"fields":["attr1"],"id":"test_collection_1/791787","name":"idx_1749818792568946688","selectivityEstimate":1,"sparse":true,"type":"skiplist","unique":false},{"deduplicate":true,"fields":["attr1"],"id":"test_collection_1/791795","name":"idx_1749818793121546240","selectivityEstimate":1,"sparse":true,"type":"hash","unique":false},{"deduplicate":true,"fields":["attr1","attr2"],"id":"test_collection_1/791832","name":"idx_1749818796998131712","selectivityEstimate":1,"sparse":true,"type":"hash","unique":false},{"deduplicate":true,"fields":["attr1","attr2"],"id":"test_collection_1/791899","name":"idx_1749818798280540160","selectivityEstimate":1,"sparse":true,"type":"skiplist","unique":false},{"bestIndexedLevel":17,"fields":["attr1"],"geoJson":false,"id":"test_collection_1/791910","maxNumCoverCells":8,"name":"idx_1749818799383642112","sparse":true,"type":"geo","unique":false,"worstIndexedLevel":4},{"bestIndexedLevel":17,"fields":["attr1","attr2"],"geoJson":false,"id":"test_collection_1/791917","maxNumCoverCells":8,"name":"idx_1749818799742255104","sparse":true,"type":"geo","unique":false,"worstIndexedLevel":4},{"fields":["attr1"],"id":"test_collection_1/791929","minLength":10,"name":"idx_1749818801057169408","sparse":true,"type":"fulltext","unique":false},{"deduplicate":true,"fields":["attr1","attr2"],"id":"test_collection_1/791943","name":"idx_1749818802553487360","selectivityEstimate":1,"sparse":true,"type":"persistent","unique":false},{"expireAfter":1,"fields":["attr1"],"id":"test_collection_1/791954","name":"idx_1749818803686998016","selectivityEstimate":1,"sparse":true,"type":"ttl","unique":false}],"identifiers":{"test_collection_1/0":{"fields":["_key"],"id":"test_collection_1/0","name":"primary","selectivityEstimate":1,"sparse":false,"type":"primary","unique":true},"test_collection_1/782030":{"deduplicate":true,"fields":["val"],"id":"test_collection_1/782030","name":"idx_1749818479143288832","selectivityEstimate":1,"sparse":false,"type":"skiplist","unique":false},"test_collection_1/782036":{"fields":["text"],"id":"test_collection_1/782036","minLength":2,"name":"idx_1749818479318401024","sparse":true,"t[...]
- request:
    body: '{"type": "hash", "fields": ["attr3", "attr4"], "unique": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/index?collection=test_collection_1
  response:
    body:
      string: '{"deduplicate":true,"fields":["attr3","attr4"],"id":"test_collection_1/791970","isNewlyCreated":true,"name":"idx_1749818805356331008","selectivityEstimate":1,"sparse":false,"type":"hash","unique":false,"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c0979046-b9dc-4c96-b10d-989594455c78
      x-gdn-responsetime:
      - '4'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/index/test_collection_1/idx_1749818805356331008
  response:
    body:
      string: '{"id":"test_collection_1/791970","error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 6172f2a4-f4f0-4348-818b-69fb8d9609d6
      x-gdn-responsetime:
      - '9'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/index/test_collection_1/idx_1749818805356331008
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"index not found","errorNum":1212}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a5be1114-b8e1-4547-a787-8b8d6dc75bfa
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/index/test_collection_1/idx_1749818805718089728
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"index not found","errorNum":1212}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 219e4b83-5254-4c8e-bed0-b6301c566032
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
version: 1
