interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"790537","name":"test_collection_graph_15","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790537","searchEnabled":false},{"id":"790534","name":"test_collection_graph_14","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790534","searchEnabled":false},{"id":"790509","name":"test_collection_graph_13","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790509","searchEnabled":false},{"id"[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b3ca32c8-a2c4-4c2f-83be-691ef9eed9b5
      x-gdn-responsetime:
      - '11'
    status:
      code: 200
      message: ''
- request:
    body: '{"type": "geo", "fields": ["attr1"], "geoJson": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/index?collection=test_collection_1
  response:
    body:
      string: '{"bestIndexedLevel":17,"fields":["attr1"],"geoJson":false,"id":"test_collection_1/791910","isNewlyCreated":true,"maxNumCoverCells":8,"name":"idx_1749818799383642112","sparse":true,"type":"geo","unique":false,"worstIndexedLevel":4,"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 80e62b19-d22c-49cb-bee6-4fb61310acf8
      x-gdn-responsetime:
      - '6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/index?collection=test_collection_1
  response:
    body:
      string: '{"error":false,"code":200,"indexes":[{"fields":["_key"],"id":"test_collection_1/0","name":"primary","selectivityEstimate":1,"sparse":false,"type":"primary","unique":true},{"deduplicate":true,"fields":["val"],"id":"test_collection_1/782030","name":"idx_1749818479143288832","selectivityEstimate":1,"sparse":false,"type":"skiplist","unique":false},{"fields":["text"],"id":"test_collection_1/782036","minLength":2,"name":"idx_1749818479318401024","sparse":true,"type":"fulltext","unique":false},{"bestIndexedLevel":17,"fields":["loc"],"geoJson":false,"id":"test_collection_1/782041","maxNumCoverCells":8,"name":"idx_1749818479507144704","sparse":true,"type":"geo","unique":false,"worstIndexedLevel":4},{"deduplicate":true,"fields":["attr1"],"id":"test_collection_1/791787","name":"idx_1749818792568946688","selectivityEstimate":1,"sparse":true,"type":"skiplist","unique":false},{"deduplicate":true,"fields":["attr1"],"id":"test_collection_1/791795","name":"idx_1749818793121546240","selectivityEstimate":1,"sparse":true,"type":"hash","unique":false},{"deduplicate":true,"fields":["attr1","attr2"],"id":"test_collection_1/791832","name":"idx_1749818796998131712","selectivityEstimate":1,"sparse":true,"type":"hash","unique":false},{"deduplicate":true,"fields":["attr1","attr2"],"id":"test_collection_1/791899","name":"idx_1749818798280540160","selectivityEstimate":1,"sparse":true,"type":"skiplist","unique":false},{"bestIndexedLevel":17,"fields":["attr1"],"geoJson":false,"id":"test_collection_1/791910","maxNumCoverCells":8,"name":"idx_1749818799383642112","sparse":true,"type":"geo","unique":false,"worstIndexedLevel":4}],"identifiers":{"test_collection_1/0":{"fields":["_key"],"id":"test_collection_1/0","name":"primary","selectivityEstimate":1,"sparse":false,"type":"primary","unique":true},"test_collection_1/782030":{"deduplicate":true,"fields":["val"],"id":"test_collection_1/782030","name":"idx_1749818479143288832","selectivityEstimate":1,"sparse":false,"type":"skiplist","unique":false},"test_collection_1/782036":{"fields":["text"],"id":"test_collection_1/782036","minLength":2,"name":"idx_1749818479318401024","sparse":true,"t[...]
[...]
- request:
    body: '{"type": "geo", "fields": ["attr1", "attr2", "attr3"]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/index?collection=test_collection_1
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"invalid number of index attributes","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f88b5b40-b954-47f7-bea3-30896f75ece2
      x-gdn-responsetime:
      - '2'
    status:
      code: 400
      message: Bad Request
version: 1
