interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"790537","name":"test_collection_graph_15","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790537","searchEnabled":false},{"id":"790534","name":"test_collection_graph_14","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790534","searchEnabled":false},{"id":"790509","name":"test_collection_graph_13","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790509","searchEnabled":false},{"id"[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e44e39bc-0a74-478e-b068-e6a9bf936136
      x-gdn-responsetime:
      - '10'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/index?collection=test_collection_1
  response:
    body:
      string: '{"error":false,"code":200,"indexes":[{"fields":["_key"],"id":"test_collection_1/0","name":"primary","selectivityEstimate":1,"sparse":false,"type":"primary","unique":true},{"deduplicate":true,"fields":["val"],"id":"test_collection_1/782030","name":"idx_1749818479143288832","selectivityEstimate":1,"sparse":false,"type":"skiplist","unique":false},{"fields":["text"],"id":"test_collection_1/782036","minLength":2,"name":"idx_1749818479318401024","sparse":true,"type":"fulltext","unique":false},{"bestIndexedLevel":17,"fields":["loc"],"geoJson":false,"id":"test_collection_1/782041","maxNumCoverCells":8,"name":"idx_1749818479507144704","sparse":true,"type":"geo","unique":false,"worstIndexedLevel":4},{"deduplicate":true,"fields":["attr1"],"id":"test_collection_1/791787","name":"idx_1749818792568946688","selectivityEstimate":1,"sparse":true,"type":"skiplist","unique":false},{"deduplicate":true,"fields":["attr1"],"id":"test_collection_1/791795","name":"idx_1749818793121546240","selectivityEstimate":1,"sparse":true,"type":"hash","unique":false}],"identifiers":{"test_collection_1/0":{"fields":["_key"],"id":"test_collection_1/0","name":"primary","selectivityEstimate":1,"sparse":false,"type":"primary","unique":true},"test_collection_1/782030":{"deduplicate":true,"fields":["val"],"id":"test_collection_1/782030","name":"idx_1749818479143288832","selectivityEstimate":1,"sparse":false,"type":"skiplist","unique":false},"test_collection_1/782036":{"fields":["text"],"id":"test_collection_1/782036","minLength":2,"name":"idx_1749818479318401024","sparse":true,"type":"fulltext","unique":false},"test_collection_1/782041":{"bestIndexedLevel":17,"fields":["loc"],"geoJson":false,"id":"test_collection_1/782041","maxNumCoverCells":8,"name":"idx_1749818479507144704","sparse":true,"type":"geo","unique":false,"worstIndexedLevel":4},"test_collection_1/791787":{"deduplicate":true,"fields":["attr1"],"id":"test_collection_1/791787","name":"idx_1749818792568946688","selectivityEstimate":1,"sparse":true,"type":"skiplist","unique":false},"test_collection_1/791795":{"deduplicate":true,"fields":["attr1"],"id":"test_collection_1/791795","name":"idx_1749818793121546240","selectivityEstimate":1,"sparse":true,"type":"hash","unique":false}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fc97fb3d-4c59-4d3b-978e-5135c6716695
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
version: 1
