interactions:
- request:
    body: '{"definition": "\n        @App:name(''Sample-Cargo-App'')\n        @App:qlVersion(\"2\")\n        @App:description(''Basic
      stream application to demonstrate reading data from input stream and store it
      in the collection. The stream and collections are automatically created if they
      do not already exist.'')\n        /**\n        Testing the Stream Application:\n            1.
      Open Stream SampleCargoAppDestStream in Console. The output can be monitored
      here.\n            2. Upload following data into SampleCargoAppInputTable C8DB
      Collection\n                {\"weight\": 1}\n                {\"weight\": 2}\n                {\"weight\":
      3}\n                {\"weight\": 4}\n                {\"weight\": 5}\n            3.
      Following messages would be shown on the SampleCargoAppDestStream Stream Console\n                [2021-08-27T14:12:15.795Z]
      {\"weight\":1}\n                [2021-08-27T14:12:15.799Z] {\"weight\":2}\n                [2021-08-27T14:12:15.805Z]
      {\"weight\":3}\n                [2021-08-27T14:12:15.809Z] {\"weight\":4}\n                [2021-08-27T14:12:15.814Z]
      {\"weight\":5}\n        */\n        -- Create Table SampleCargoAppInputTable
      to process events.\n        CREATE SOURCE SampleCargoAppInputTable WITH (type
      = ''database'', collection = \"SampleCargoAppInputTable\", collection.type=\"doc\",
      replication.type=\"global\", map.type=''json'') (weight int);\n\n        --
      Create Stream SampleCargoAppDestStream\n        CREATE SINK SampleCargoAppDestStream
      WITH (type = ''stream'', stream = \"SampleCargoAppDestStream\", replication.type=\"local\")
      (weight int);\n\n        -- Data Processing\n        @info(name=''Query'')\n        INSERT
      INTO SampleCargoAppDestStream\n        SELECT weight\n        FROM SampleCargoAppInputTable;\n        "}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streamapps/validate
  response:
    body:
      string: '{"error":false,"code":200,"message":"Stream application definition
        is valid."}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5b7c58e7-32cb-4a61-b9dc-b07b76c7ef49
      x-gdn-responsetime:
      - '106'
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": "\n        @App:name(''Sample-Cargo-App'')\n        @App:qlVersion(\"2\")\n        @App:description(''Basic
      stream application to demonstrate reading data from input stream and store it
      in the collection. The stream and collections are automatically created if they
      do not already exist.'')\n        /**\n        Testing the Stream Application:\n            1.
      Open Stream SampleCargoAppDestStream in Console. The output can be monitored
 [...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streamapps
  response:
    body:
      string: '{"error":false,"code":200,"streamApps":[{"name":"Sample-Cargo-App","definition":"\n        @App:name(''Sample-Cargo-App'')\n        @App:qlVersion(\"2\")\n        @App:description(''Basic
        stream application to demonstrate reading data from input stream and store
        it in the collection. The stream and collections are automatically created
        if they do not already exist.'')\n        /**\n        Testing the Stream
        Application:\n            1. Open Stream SampleCargoAppDestStream in Console.
        The output can be monitored here.\n            2. Upload following data into
        SampleCargoAppInputTable C8DB Collection\n                {\"weight\": 1}\n                {\"weight\":
        2}\n                {\"weight\": 3}\n                {\"weight\": 4}\n                {\"weight\":
        5}\n            3. Following messages would be shown on the SampleCargoAppDestStream
        Stream Console\n             [...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streamapps/Sample-Cargo-App
  response:
    body:
      string: '{"error":false,"code":200,"streamApps":[{"name":"Sample-Cargo-App","definition":"\n        @App:name(''Sample-Cargo-App'')\n        @App:qlVersion(\"2\")\n        @App:description(''Basic
        stream application to demonstrate reading [...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streamapps/Sample-Cargo-App/active?active=true
  response:
    body:
      string: '{"error":false,"code":200,"streamApps":[{"name":"Sample-Cargo-App","definition":"\n        @App:name(''Sample-Cargo-App'')\n        @App:qlVersion(\"2\")\n        @App:description(''Basic
        stream application to[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streamapps/Sample-Cargo-App/active?active=false
  response:
    body:
      string: '{"error":false,"code":200,"streamApps":[{"name":"Sample-Cargo-App","definition":"\n        @App:name(''Sample-Cargo-App'')\n        @App:qlVersion(\"2\")\n        @App:description(''Basic
        stream application t[...]
[...]
- request:
    body: '{"query": {"name": "insertTestWeight", "value": "INSERT { \"weight\": @weight
      } IN SampleCargoAppInputTable"}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/restql
  response:
    body:
      string: '{"error":false,"code":200,"result":{"_key":"pythonsdk_macrometa.com.root.pythonsdk_macrometa.com._system.insertTestWeight","userid":"pythonsdk_macrometa.com.root","tenant":"pythonsdk_macrometa.com","fabric":"pythonsdk_macrometa.com._system","name":"insertTestWeight","value":"INSERT
        { \"weight\": @weight } IN SampleCargoAppInputTable","type":"c8ql"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 788ffbe5-dd50-4274-8d0f-7aaa029ddceb
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"bindVars": {"weight": 0}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/restql/execute/insertTestWeight
  response:
    body:
      string: '{"result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 6e9e085d-222f-4015-8c9b-4dae2b1580c4
      x-gdn-responsetime:
      - '5'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"query": "select * from SampleCargoAppDestTable limit 3"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streamapps/query/Sample-Cargo-App
  response:
    body:
      string: '{"error":false,"code":200,"records":[[0],[1],[2]]}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 29edb48b-67be-4c3d-9d29-b4885415a43d
      x-gdn-responsetime:
      - '60'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streamapps/samples
  response:
    body:
      string: '{"error":false,"code":200,"streamAppSample":[{"name":"Sample-Adhoc-Query","definition":"@App:name(''Sample-Adhoc-Query'')\n@App:description(\"This
        application demonstrates how to send adhoc queries and fetch data from Stores
        and named windows.\")\n@App:qlVersion(''2'')\n\n/**\nTesting the Stream Application:\n    1.
        Upload following data into `SampleAdhocQueryInputTable` C8DB Collection\n        {\"sensorId\":\"sensor
        A1234\",\"temperature\":18}\n        {\"sensorId\":\"sensor A1234\",\"temperature\":-32.2}\n        {\"sensorId\":\"sensor
        FR45\",\"temperature\":20.9}\n        {\"sensorId\":\"sensor meter1\",\"temperature\":49.6}\n\n    2.
        This application accumulates all the data for one minute in the named window
        `SampleAdhocQueryInputTableOneMinTimeWindow`\n        Named window allows
        other application to query data in realtime.\n\n    3. Run the adhoc query
        on the `SampleAdhocQueryInputTableOneMinTimeWindow` (Refer [1] for running
        adhoc queries.)\n        Query:\n            select * from SampleAdhocQueryInputTableOneMinTimeWindow\n\n        Output:\n            [\n                [\"sensor
        A1234\",18],\n                [\"sensor A1234\",-32.2],\n                [\"sensor
        FR45\",20.9],\n                [\"sensor meter1\",49.6]\n            ]\n\n    4.
        Similar to Named Windows one can run adhoc queries on the stores as well.
        Running adhoc query on \n        `SampleAdhocQuerySensorA1234DestTable` C8DB
        Collection should produce below result\n\n        Query: Store the result
        if sensorId is equal to \"sensor A1234\"\n            SELECT * FROM SampleAdhocQuerySensorA1234DestTable\n\n        Output:\n            [\n                [\"sensor
        A1234\",18],\n                [\"sensor A1234\",-32.2]\n            ]\n\n    [1]
        https://macrometa.dev/cep/quickstart/#run-an-adhoc-query\n*/\n\n-- Defines
        `SampleAdhocQueryInputTable` collection to process events having `sensorId`
        and `temperature`(F).\nCREATE SOURCE SampleAdhocQueryInputTable WITH(type
        = ''database'', collection = \"SampleAdhocQueryInputTable\", collection.type=\"doc\"
        , replication.type=\"global\", map.type=''json'') (sensorId string, temperature
        double);\n\n-- Named Window\nCREATE WINDOW SampleAdhocQueryInputTableOneMinTimeWindow
        (sensorId string, temperature double) SLIDING_TIME(1 min);\n\n-- Table\nCREATE
        TABLE SampleAdhocQuerySensorA1234DestTable(sensorId string, temperature double);\n\n@info(name
        = ''Insert-to-window'')\nINSERT INTO SampleAdhocQueryInputTableOneMinTimeWindow\nSELECT
        *\nFROM SampleAdhocQueryInputTable;\n\n@info(name = ''EqualsFilter'')\n--
        Note: Filter out events with `sensorId` equalling `sensor A1234`\nINSERT INTO
        SampleAdhocQuerySensorA1234DestTable\nSELECT *\nFROM SampleAdhocQueryInputTable\nWHERE
        sensorId == ''sensor A1234'';\n","description":"This application demonstrates
        how to send adhoc queries and fetch data from Stores and named windows.","labels":["Adhoc
        Query","On-Demand Query"],"sampleInput":null,"sampleOutput":null},{"name":"Sample-Aggregation-App","definition":"@App:name(\"Sample-Aggregation-App\")\n@App:description(\"Basic
        Stream Worker to demonstrate aggregation capabilities.\")\n@App:qlVersion(''2'')\n\n/**\nRunning
        the Stream Worker:\n    1. Save and publish the stream worker.\n    2. TradeStream
        will appear in the Streams section with randomly generated trade data.\n    3.
        Since we are incrementally aggregating `EVERY sec ... year`, it will create
        the foll[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/collection/SampleCargoAppDestTable
  response:
    body:
      string: '{"error":false,"code":200,"id":"873353"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 85dfed45-87b0-4084-93cc-947977aa9d19
      x-gdn-responsetime:
      - '53'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/collection/SampleCargoAppInputTable
  response:
    body:
      string: '{"error":false,"code":200,"id":"873219"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 798924a2-f4be-49c2-b5d8-d582656fc944
      x-gdn-responsetime:
      - '148'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streams/c8locals.SampleCargoAppDestStream
  response:
    body:
      string: '{"code":202,"error":false}'
    headers:
      Content-Type:
      - application/json
      broker-address:
      - c8streams-broker-0.c8streams-broker.c8.svc.cluster.local
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 00c6d04f-f730-42b6-800d-2c4a40048269
      x-gdn-responsetime:
      - '50'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/restql/insertTestWeight
  response:
    body:
      string: '{"error":false,"code":200,"result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - cd98b3e9-1521-47ad-a104-c757d353c6ca
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
version: 1
