interactions:
- request:
    body: '{"definition": "\n        name(''Sample-Cargo-App'')\n        "}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/streamapps/validate
  response:
    body:
      string: '{"error":true,"code":422,"errorMessage":"Error: Error between @ Line:
        2. Position: 0 and @ Line: 2. Position: 8. Syntax error in application definition,
        mismatched input ''name'' expecting {''@'', DEFINE, UNEXPECTED_CHAR}.","errorNum":422}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 2ff800ad-78aa-4171-8079-e02d9a96594e
      x-gdn-responsetime:
      - '10'
    status:
      code: 422
      message: ''
- request:
    body: '{"definition": "\n        name(''Sample-Cargo-App'')\n        ", "regions":
      []}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/streamapps
  response:
    body:
      string: '{"error":true,"code":422,"errorMessage":"Error: Error between @ Line:
        2. Position: 0 and @ Line: 2. Position: 8. Syntax error in application definition,
        mismatched input ''name'' expecting {''@'', DEFINE, UNEXPECTED_CHAR}.","errorNum":422}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 89834f07-301e-4aad-9a0e-3f3acfccbcfc
      x-gdn-responsetime:
      - '28'
    status:
      code: 422
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 89b1e686-17dd-4b7b-91c4-9f7efea20c6f
      x-gdn-responsetime:
      - '7'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/Sample-Cargo-App
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - ed1b10db-161a-4a57-ae98-85632469fec0
      x-gdn-responsetime:
      - '5'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-smoke1.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/Sample-Cargo-App/active?active=true
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 5446b40d-d66e-45ec-a896-d99b35be21c8
      x-gdn-responsetime:
      - '6'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"query": "select * from SampleCargoAppDestTable limit 3"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/query/Sample-Cargo-App
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - bff3c12f-ccad-4b7c-b5c3-6400c06ef8a5
      x-gdn-responsetime:
      - '7'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/samples
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 7f3b35e8-94d5-4873-a602-73863982a385
      x-gdn-responsetime:
      - '6'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"carId": "c1", "longitude": 18.4334, "latitude": 30.2123}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/http/Sample-HTTP-Source/SampleHTTPSource
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 8a4dd300-cabf-4d7e-919d-8e2f717dc49d
      x-gdn-responsetime:
      - '6'
    status:
      code: 404
      message: Not Found
version: 1
