interactions:
- request:
    body: '{"definition": "\n        name(''Sample-Cargo-App'')\n        "}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streamapps/validate
  response:
    body:
      string: '{"error":true,"code":422,"errorMessage":"Error: Error between @ Line:
        2. Position: 0 and @ Line: 2. Position: 8. Syntax error in application definition,
        mismatched input ''name'' expecting {''@'', DEFINE, UNEXPECTED_CHAR}.","errorNum":422}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 76078c02-462b-4e68-9381-7ac609722208
      x-gdn-responsetime:
      - '24'
    status:
      code: 422
      message: ''
- request:
    body: '{"definition": "\n        name(''Sample-Cargo-App'')\n        ", "regions":
      []}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streamapps
  response:
    body:
      string: '{"error":true,"code":422,"errorMessage":"Error: Error between @ Line:
        2. Position: 0 and @ Line: 2. Position: 8. Syntax error in application definition,
        mismatched input ''name'' expecting {''@'', DEFINE, UNEXPECTED_CHAR}.","errorNum":422}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8e032d22-90db-4a61-8277-e495cea2db2f
      x-gdn-responsetime:
      - '72'
    status:
      code: 422
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 059be785-bf04-479a-b8e4-1ff02684d4b7
      x-gdn-responsetime:
      - '14'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/Sample-Cargo-App
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8d073166-2d2b-4b44-acc8-d89fbe2f5724
      x-gdn-responsetime:
      - '17'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/Sample-Cargo-App/active?active=true
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 348e5789-68af-4106-86fd-8d984172219e
      x-gdn-responsetime:
      - '13'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"query": "select * from SampleCargoAppDestTable limit 3"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/query/Sample-Cargo-App
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 9950a128-4f0f-4676-8663-83aad93aa309
      x-gdn-responsetime:
      - '12'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/samples
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5878d950-6842-48fb-bf22-7fde92162f80
      x-gdn-responsetime:
      - '11'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"carId": "c1", "longitude": 18.4334, "latitude": 30.2123}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/streamapps/http/Sample-HTTP-Source/SampleHTTPSource
  response:
    body:
      string: '{"error":true,"code":404,"errorMessage":"Response: 404, Error: 1228
        - database not found","errorNum":404}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7e3d2013-503d-460b-9975-1ffb822e8d79
      x-gdn-responsetime:
      - '11'
    status:
      code: 404
      message: Not Found
version: 1
