interactions:
- request:
    body: '{"name": "TestPyC8", "featureGates": ["KV"], "attribution": "Macrometa",
      "label": "TestSDK", "active": true, "planId": "1", "description": "New billing
      plan.", "pricing": "Custom pricing", "isBundle": true, "metadata": {"key": "value"},
      "demo": false, "metrics": [{"name": "kv-reads", "value": "c8db_service_kv_read_requests_count",
      "metricType": "counter"}]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_api/plan
  response:
    body:
      string: '{"active":true,"attribution":"Macrometa","created":1668757373,"demo":false,"description":"New
        billing plan.","featureGates":["KV"],"isBundle":true,"label":"TestSDK","metadata":{"key":"value"},"metrics":[{"name":"kv-reads","value":"c8db_service_kv_read_requests_count","metricType":"counter"}],"name":"TestPyC8","planId":"1","pricing":"Custom
        pricing"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e4d0c0ad-c64e-45af-84bf-7fc588642195
      x-gdn-responsetime:
      - '6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/plan/TestPyC8
  response:
    body:
      string: '{"active":true,"attribution":"Macrometa","created":1668757373,"demo":false,"description":"New
        billing plan.","featureGates":["KV"],"isBundle":true,"label":"TestSDK","metadata":{"key":"value"},"metrics":[{"name":"kv-reads","value":"c8db_service_kv_read_requests_count","metricType":"counter"}],"name":"TestPyC8","planId":"1","pricing":"Custom
        pricing"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 72874b12-0648-40e9-b216-702ee73dbb14
      x-gdn-responsetime:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: '{"attribution": "Macrometa", "label": "TestSDK", "active": true, "description":
      "updated plan", "pricing": "Custom pricing", "isBundle": true, "demo": false,
      "metrics": [{"name": "kv-reads", "value": "c8db_service_kv_read_requests_count",
      "metricType": "counter"}, {"name": "doc-reads", "value": "c8db_service_doc_read_requests_count",
      "metricType": "counter", "stripeCategory": "apiOperations", "dashboardCategory":
      "apis", "service": "doc", "operation": "reads"}]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_api/plan/TestPyC8
  response:
    body:
      string: '[{"active":true,"attribution":"Macrometa","created":1668757373,"demo":false,"description":"updated
        plan","featureGates":["KV"],"isBundle":true,"label":"TestSDK","metadata":{"key":"value"},"metrics":[{"name":"kv-reads","value":"c8db_service_kv_read_requests_count","metricType":"counter"},{"name":"doc-reads","value":"c8db_service_doc_read_requests_count","metricType":"counter","stripeCategory":"apiOperations","dashboardCategory":"apis","service":"doc","operation":"reads"}],"name":"TestPyC8","planId":"1","pricing":"Custom
        pricing"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 14f4b3a1-1566-4eae-a42c-a49dcaf705c7
      x-gdn-responsetime:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/plan
  response:
    body:
      string: '[{"active":true,"attribution":"Cox-Edge","avantGarde":false,"demo":true,"description":"Cox-Edge
        data services. Metered plan","featureGates":["CEP","DOCS","DYNAMO","REDIS","GEO_FABRICS","GRAPHS","KV","LOCAL_COLLECTIONS","SEARCH","STREAMS","USERS","SQL"],"isBundle":true,"isUpgradable":false,"label":"Metered","metadata":{"line-1":"Unlimited
        usage","line-2":"Only pay for what you use, with no hidden fees","list_order":5},"metrics":[{"name":"kv-reads","value":"c8db_service_kv_read_requests_count","metricType":"counter","stripeCategory":"apiOperations","dashboardCategory":"apis","service":"kv","operation":"reads"},{"name":"dynamo-reads","value":"c8db_service_dynamo_read_requests_count","metricType":"counter","stripeCategory":"apiOperations","dashboardCategory":"apis","service":"dynamo","operation":"reads"},{"name":"redis-reads","value":"c8db_service_redis_read_requests_count","metricType":"counter","stripeCateg[...]
[...]
