interactions:
- request:
    body: '{"name": "testRedisCollection", "waitForSync": false, "keyOptions": {"type":
      "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false, "isLocal":
      false, "isSystem": false, "stream": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"9608499","globallyUniqueId":"hB1D42EC62724/9608500","id":"9608500","hasStream":true,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"testRedisCollection"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7d974391-1a39-495f-8853-23a779cd37fb
      x-gdn-responsetime:
      - '143'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"9608500","name":"testRedisCollection","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":true,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/9608500","searchEnabled":false},{"id":"781647","name":"_alerts","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":true,"hasStream":true,"waitForSync":false,"isSystem":true,"globallyUniqueId":"_alerts","searchEnabled":false},{"id":"781635","name":"_computeFn","status":3,"t[...]
