interactions:
- request:
    body: '{"name": "testRedisCollection", "waitForSync": false, "keyOptions": {"type":
      "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false, "isLocal":
      false, "isSystem": false, "stream": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"329094397","globallyUniqueId":"hFF56ED8B5D8B/329094398","id":"329094398","hasStream":true,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"testRedisCollection"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - fbbf638a-7edd-4b83-bf13-14e1a1f0ffd2
      x-gdn-responsetime:
      - '27'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"63136199","name":"ContentIncoming","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":true,"hasStream":true,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hFF56ED8B5D8B/63136199","searchEnabled":false},{"id":"62951341","name":"test2","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hFF56ED8B5D8B/62951341","searchEnabled":false},{"id":"62866349","name":"test1","[...]
