interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"790537","name":"test_collection_graph_15","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790537","searchEnabled":false},{"id":"790534","name":"test_collection_graph_14","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790534","searchEnabled":false},{"id":"790509","name":"test_collection_graph_13","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790509","searchEnabled":false},{"id"[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7d6b422b-8457-432b-bf93-297c89aa59cf
      x-gdn-responsetime:
      - '13'
    status:
      code: 200
      message: ''
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGktWBq--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGktWBu--_"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGktWBu--C"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGktWBu--F"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGktWBy--_"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGktWBy--C"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1829822d-7b25-4c1d-a20a-e656b02e7438
      x-gdn-responsetime:
      - '6'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/collection/test_collection_1?enable=true&field=text
  response:
    body:
      string: '{"error":false,"code":200,"result":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7dbd46c3-b3b3-4028-bdac-2cb4a3af636d
      x-gdn-responsetime:
      - '79'
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": "test_collection_1", "search": "FILTER doc.text == @input
      RETURN doc", "bindVars": {"input": "foo"}, "ttl": 30}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search
  response:
    body:
      string: '{"result":[],"hasMore":false,"count":0,"cached":false,"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 390f7ecf-290e-4b1f-b0bb-6fef867086b1
      x-gdn-responsetime:
      - '4'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "view1", "links": {"test_collection_1": {"analyzers": ["identity"],
      "fields": {"_key": {}}, "includeAllFields": false, "storeValues": "none", "trackListPositions":
      false}}, "primarySort": [{"field": "_key", "asc": true}], "type": "search"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view
  response:
    body:
      string: '{"globallyUniqueId":"hB1D42EC62724/792405","id":"792405","links":{"test_collection_1":{"analyzers":["identity"],"fields":{"_key":{}},"includeAllFields":false,"storeValues":"none","trackListPositions":false}},"name":"view1","primarySort":[{"field":"_key","asc":true}],"type":"search"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 55fb998a-a3b1-421f-a7d1-c916f7f8e3f1
      x-gdn-responsetime:
      - '12'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "view1", "primarySort": [], "links": {"test_collection_1": {"analyzers":
      ["identity"], "fields": {"val": {}}, "includeAllFields": false, "storeValues":
      "none", "trackListPositions": false}}, "type": "search"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view/view1/properties
  response:
    body:
      string: '{"globallyUniqueId":"hB1D42EC62724/792405","id":"792405","links":{"test_collection_1":{"analyzers":["identity"],"fields":{"val":{}},"includeAllFields":false,"storeValues":"none","trackListPositions":false}},"name":"view1","primarySort":[{"field":"_key","asc":true}],"type":"search"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c5d28c2d-d700-417d-a140-63c30a4cf3e2
      x-gdn-responsetime:
      - '15'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view/view1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"globallyUniqueId":"hB1D42EC62724/792405","id":"792405","name":"view1","type":"search"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - acecfcf6-6a9d-4ced-a88a-3c2e1b898200
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "view2"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view/view1/rename
  response:
    body:
      string: '{"error":false,"code":200,"result":{"globallyUniqueId":"hB1D42EC62724/792405","id":"792405","name":"view2","type":"search"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5478dfc5-6ff2-4339-80a6-54b3011be73c
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/analyzer
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"name":"text_ru","type":"text","properties":{"locale":"ru.utf-8","case":"lower","stopwords":[],"accent":false,"stemming":true},"features":["position","norm","frequency"]},{"name":"text_no","type":"text","properties":{"locale":"no.utf-8","case":"lower","stopwords":[],"accent":false,"stemming":true},"features":["position","norm","frequency"]},{"name":"text_sv","type":"text","properties":{"locale":"sv.utf-8","case":"lower","stopwords":[],"accent":false,"stemming":true},"features":["position","norm","frequency"]},{"name":"text_nl","type":"text","properties":{"locale":"nl.utf-8","case":"lower","stopwords":[],"accent":false,"stemming":t[...]
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/analyzer/identity
  response:
    body:
      string: '{"error":false,"code":200,"type":"identity","properties":{},"name":"identity","features":["norm","frequency"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0d92d002-c3bf-417a-b268-78caf958a69d
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"globallyUniqueId":"hB1D42EC62724/792396","id":"792396","name":"c8search_view_test_collection_1","type":"search"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f67a5aff-7d62-4b21-84de-2114a52ae95f
      x-gdn-responsetime:
      - '2'
    status:
      code: 200
      message: OK
version: 1
