interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"790537","name":"test_collection_graph_15","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790537","searchEnabled":false},{"id":"790534","name":"test_collection_graph_14","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790534","searchEnabled":false},{"id":"790509","name":"test_collection_graph_13","status":3,"type":3,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/790509","searchEnabled":false},{"id"[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 866b82c8-12a6-4edb-b7cf-af32591f9ce4
      x-gdn-responsetime:
      - '12'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/search/collection/test_collection_1?enable=true&field=text
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0e492f20-cda2-48e0-bf50-e78b0baf49cf
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/search/view
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - dc2069f1-500f-47ea-8897-c143b6c74c9a
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/search/analyzer
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - effd1eb1-bd16-48fd-ae4b-2c0cab94a599
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/search/analyzer/identity
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c738f80f-efd2-4f33-9f45-55e34e893ec3
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"collection": "", "search": "FILTER doc.text == @input RETURN doc", "bindVars":
      {"input": "foo"}, "ttl": 30}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"Query execution error: FOR
        doc IN c8search_view_ FILTER doc.text == @input RETURN doc","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 54b87be7-3856-4240-a81b-10df3070ae5b
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"name": "view1", "links": {"test_collection_1": {"analyzers": [""], "fields":
      {"_key": {}}, "includeAllFields": false, "storeValues": "none", "trackListPositions":
      false}}, "primarySort": [{"field": "_key", "asc": true}], "type": "search"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"while validating c8search
        link definition, error: invalid link definition for collection ''test_collection_1''
        error in attribute: analyzers.","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f4196e97-9641-49ea-a7dd-557b41fadbeb
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"name": "view1", "primarySort": [], "links": {"test_collection_1": {"analyzers":
      ["identity"], "fields": {"val": {}}, "includeAllFields": false, "storeValues":
      "none", "trackListPositions": false}}, "type": "search"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view/view1/properties
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"collection or view not found","errorNum":1203}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 96877a48-41e2-4eb9-a7b0-e198c72d662f
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view/view1
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"collection or view not found","errorNum":1203}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 30750fc7-c8b2-439c-9dcd-fe84f3a6dc33
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "view2"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view/view1/rename
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"collection or view not found","errorNum":1203}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2b4b1fd2-d85e-46f0-94a5-2beb04e4e84f
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/analyzer/view1
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"unable to find analyzer: pythonsdk_macrometa.com.test_fabric_1::view1","errorNum":1202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 011d86da-6b51-43b5-be6a-0aed3201cd55
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/search/view/view1
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"collection or view not found","errorNum":1203}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 63354677-a72c-4ce3-9289-0aec55c7659e
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
version: 1
