interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/kv/test_collection_keyvalue_2?expiration=False
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 4a8fa302-cefd-4086-918b-4d78f978cef2
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_2/_api/kv
  response:
    body:
      string: '{"error":true,"errorNum":1228,"errorMessage":"database not found","code":404}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 47fb99cf-7de0-488a-b6c4-095bb78a70a5
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/kv/test_collection_keyvalue_3
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"KV collection not found","errorNum":101000}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - da10e50d-1f57-4c15-9141-62aeba334fe6
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/kv/test_collection_keyvalue_3?expiration=False
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_keyvalue_3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e8f186a2-707a-4611-9ae5-977c7c6824b6
      x-gdn-responsetime:
      - '61'
    status:
      code: 200
      message: OK
- request:
    body: '[{"_key": "1"}, {"_key": "2"}, {"_key": "3"}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/kv/test_collection_keyvalue_3/value
  response:
    body:
      string: '{"code":403,"error":true,"errorMessage":"Missing value.","errorNum":400}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5a723e1e-1f30-4df6-8aca-97fe14e89f4a
      x-gdn-responsetime:
      - '3'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/kv/test_collection_keyvalue_2/values
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"KV collection not found","errorNum":101000}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5c13b16d-6ca8-4e29-8e61-7afcd5de423f
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/kv/test_collection_keyvalue_2/value/1
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"KV collection not found","errorNum":101000}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 902f6a7a-88c9-4a3d-b32b-2c35bf25c7a3
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/kv/test_collection_keyvalue_2/keys
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"KV collection not found","errorNum":101000}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 59576571-8861-4e40-a76b-c9b3fbf9d8c6
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/kv/test_collection_keyvalue_2/count
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"KV collection not found","errorNum":101000}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d7f84991-bc86-4989-95b1-286a182ba11a
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/kv/test_collection_keyvalue_2/truncate
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"KV collection not found","errorNum":101000}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8019ac94-d34b-4102-888e-4f49f51d76ef
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
version: 1
