interactions:
- request:
    body: '{"keyid": "test_apikey_id_1"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_api/key
  response:
    body:
      string: '{"key":"koshy.thomas2_macrometa.com.test_apikey_id_1.J0UBXA8HgFvOYWUTAEo3Jsps4FSa8jkaGGWvUs0cGGDbdGSmRljcbUihvoSeYetF33cb82","keyid":"test_apikey_id_1","tenant":"koshy.thomas2_macrometa.com","user":"koshy.thomas2_macrometa.com.root","error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 2e47a387-4337-4607-b981-0d8a7e80429a
      x-gdn-responsetime:
      - '5'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"keyid":"k1","user":"koshy.thomas2_macrometa.com.root","tenant":"koshy.thomas2_macrometa.com"},{"keyid":"test_apikey_id_1","user":"koshy.thomas2_macrometa.com.root","tenant":"koshy.thomas2_macrometa.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 1cbd25d7-5d01-4109-bf49-22712e0a8c41
      x-gdn-responsetime:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_1
  response:
    body:
      string: '{"user":"test_apikey_id_1","tenant":"koshy.thomas2_macrometa.com","email":"test_apikey_id_1@apikey","active":true,"apikey":{"hash":"1ad6247d5743a40fc7532f3cfcd3985dca5f130fa521317ceb5ef1a7d6d45f5b","parent":"koshy.thomas2_macrometa.com.root"},"extra":{},"displayName":"test_apikey_id_1","error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - c5cfb740-3715-4773-bd30-f910213724cb
      x-gdn-responsetime:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/user
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"tenant":"koshy.thomas2_macrometa.com","email":"koshy.thomas4@macrometa.com","active":true,"extra":{},"user":"U7khXH701S9GxE_5kBcKWcw","displayName":"ko
        Doe"},{"tenant":"koshy.thomas2_macrometa.com","email":"koshy.thomas2@macrometa.com","active":true,"extra":{},"user":"root","displayName":"root"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 162265c0-7143-4086-a09b-3574804b1698
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"foo": "bar", "boo": "baz", "soo": "kon"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_1/attributes
  response:
    body:
      string: '{"error":false,"code":200,"result":{"foo":"bar","boo":"baz","soo":"kon"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 2e1e57f8-627b-451d-a2b4-8cc6a1dc5894
      x-gdn-responsetime:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_1/attributes/soo
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 9c25aeb8-9e15-48a4-a501-7ea9eb2aa397
      x-gdn-responsetime:
      - '1'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_1/attributes/truncate
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 51c1a84f-e0b3-431a-a2e5-d5f6bade06f0
      x-gdn-responsetime:
      - '1'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_1
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 770beab0-294a-4705-8b34-6db04c77c326
      x-gdn-responsetime:
      - '2'
    status:
      code: 202
      message: Accepted
version: 1
