interactions:
- request:
    body: '{"name": "test_collection_apikey_1", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"328926917","globallyUniqueId":"hFF56ED8B5D8B/328926918","id":"328926918","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_apikey_1"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 4199d1f8-4142-4066-8b07-c58dc3426a6a
      x-gdn-responsetime:
      - '10'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"328926918","name":"test_collection_apikey_1","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hFF56ED8B5D8B/328926918","searchEnabled":false},{"id":"63136199","name":"ContentIncoming","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":true,"hasStream":true,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hFF56ED8B5D8B/63136199","searchEnabled":false},{"id":"62951[...]
- request:
    body: '{"keyid": "apikey-test%"}'
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_api/key
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"API key identifier must start
        with a letter and can only contain alpha-numeric characters","errorNum":100020}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 6c78131a-4023-4954-a1b8-25df098ff454
      x-gdn-responsetime:
      - '1'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/apikey-test%25
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 7b8e0786-d2ed-4f93-94d5-63abe403236a
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - a9f94bf6-4e83-4614-8a34-3e412e198e4e
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 3f8d7d7f-68d3-499b-8cfc-a5f6c6d86782
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"grant": "rw"}'
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - d9ff82b4-1266-4348-8446-07f74282a83a
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/collection?full=False
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - aa58b229-cfc9-460d-9146-1d5f5fa6f1a0
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/collection/test_collection_apikey_1
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 43ba0108-800b-4790-a7b9-3482bc563272
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/stream?full=False
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - f329f783-feb5-4711-9896-38ffecdc2ded
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/streams/test_stream_apikey_1?global=True
  response:
    body:
      string: '{"code":200,"result":{"stream-id":"c8globals.test_stream_apikey_1"},"error":false}'
    headers:
      Content-Type:
      - application/json
      broker-address:
      - c8streams-broker-0.c8streams-broker.c8.svc.cluster.local
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - fb53a442-b0a5-495b-801e-355f774c2176
      x-gdn-responsetime:
      - '694'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/stream/c8globals.test_stream_apikey_1?global=True
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 99851854-df24-41ea-9784-211bbad5a0a1
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/billing
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 2f30525b-dd51-4c3e-b217-d7a7b5b42e77
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/attributes
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - f1fa273b-46d7-4bcf-ae99-309457e08378
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"foo": "bar"}'
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/attributes
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 32930604-f8e8-4441-ad05-6d9aba3d9300
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/attributes/truncate
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - b2e966a4-dfc7-479e-8582-5f47e17ba8cb
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/attributes/foo
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 44d37671-da42-4078-8018-3a481ee38091
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/streams/c8globals.test_stream_apikey_1
  response:
    body:
      string: '{"code":200,"result":{"stream-id":"c8globals.test_stream_apikey_1"},"error":false}'
    headers:
      Content-Type:
      - application/json
      broker-address:
      - c8streams-broker-0.c8streams-broker.c8.svc.cluster.local
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 316dcbe4-dc4a-41f0-8429-3675a7a52801
      x-gdn-responsetime:
      - '892'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - apikey koshy.thomas2_macrometa.com.k1.t1CXGMGJIwP6FxfqjCsrc2GEqkZiQMsjb3jcpaPK6f9gmETStx0MW0iaiQPa1E0y1c5c4f
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/collection/test_collection_apikey_1
  response:
    body:
      string: '{"error":false,"code":200,"id":"328926918"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - a02fe069-d5f2-40ab-bae5-85fb196eb7d5
      x-gdn-responsetime:
      - '20'
    status:
      code: 200
      message: ''
version: 1
