interactions:
- request:
    body: '{"keyid": "test_apikey_id_1"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_api/key
  response:
    body:
      string: '{"key":"pythonsdk_macrometa.com.test_apikey_id_1.K72EKzVEz5yueWUApXRGEQg3JUtuk1bakEfFVw0MnR7mhj1U79sVbwwU6PWX8Qm13dc798","keyid":"test_apikey_id_1","tenant":"pythonsdk_macrometa.com","user":"pythonsdk_macrometa.com.root","error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - dfa174cf-9b20-48b0-9c1d-43ce32d2a0ba
      x-gdn-responsetime:
      - '33'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"keyid":"sdk_1","user":"pythonsdk_macrometa.com.root","tenant":"pythonsdk_macrometa.com"},{"keyid":"test_apikey_id_1","user":"pythonsdk_macrometa.com.root","tenant":"pythonsdk_macrometa.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - dc059d11-bee0-4985-a303-4cec8f1b2326
      x-gdn-responsetime:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_1
  response:
    body:
      string: '{"user":"test_apikey_id_1","tenant":"pythonsdk_macrometa.com","email":"test_apikey_id_1@apikey","active":true,"apikey":{"hash":"424b126191239cd9d66d643c76cb4259a81c3bf92d883ac3ea676cad7fb19714","parent":"pythonsdk_macrometa.com.root"},"extra":{},"displayName":"test_apikey_id_1","error":false,"code":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f85a5506-d046-413f-8e9a-15a18b0645f6
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/user
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"tenant":"pythonsdk_macrometa.com","email":"pythonsdk@macrometa.com","active":true,"extra":{},"user":"root","displayName":"root"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 634550ab-74ad-4e01-b237-1ecdf77c79f5
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"foo": "bar", "boo": "baz", "soo": "kon"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_1/attributes
  response:
    body:
      string: '{"error":false,"code":200,"result":{"foo":"bar","boo":"baz","soo":"kon"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 42023cab-e31b-40ca-aeba-e8e04aaf153b
      x-gdn-responsetime:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_1/attributes/soo
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fef507f7-f4e2-4b72-a55e-4e62b7b58e34
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_1/attributes/truncate
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 681d98c7-a399-4f2b-a8fb-b4d49c5c958b
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_1
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f76d965a-0554-4188-a3c0-1d8e9515468a
      x-gdn-responsetime:
      - '2'
    status:
      code: 202
      message: Accepted
version: 1
