interactions:
- request:
    body: '{"name": "test_collection_apikey_1", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"782172","globallyUniqueId":"hB1D42EC62724/782173","id":"782173","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_apikey_1"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c61a909c-96aa-4f99-86e3-9524a5f28a9a
      x-gdn-responsetime:
      - '69'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"782173","name":"test_collection_apikey_1","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782173","searchEnabled":false},{"id":"781647","name":"_alerts","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":true,"hasStream":true,"waitForSync":false,"isSystem":true,"globallyUniqueId":"_alerts","searchEnabled":false},{"id":"781635","name":"_computeFn","status":[...]
- request:
    body: '{"keyid": "apikey-test%"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_api/key
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"API key identifier must start
        with a letter and can only contain alpha-numeric characters","errorNum":100020}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 15a59273-645f-43e5-b93f-dfafebea84fa
      x-gdn-responsetime:
      - '5'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/apikey-test%25
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - bc6a754d-aacd-4fb2-85ab-3a5aa8636ca2
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/database
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ba80480f-45f8-4ed0-b69a-dce91e63a989
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 678a5cb5-abef-47b3-a663-02231746d660
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"grant": "rw"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a683633b-7b31-4f67-a63a-11e3ede69082
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/collection?full=False
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d67f0962-9c02-4582-a67f-4f5d656bdce4
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/collection/test_collection_apikey_1
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 31abe502-9497-4567-b7f1-848561801e95
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/stream?full=False
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b8189f07-af71-4f95-9ec8-5c18e5803434
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streams/test_stream_apikey_1?global=True
  response:
    body:
      string: '{"code":202,"result":{"stream-id":"c8globals.test_stream_apikey_1"},"error":false}'
    headers:
      Content-Type:
      - application/json
      broker-address:
      - c8streams-broker-0.c8streams-broker.c8.svc.cluster.local
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 69e4d3ff-6b46-4f25-a17f-962e78bd2949
      x-gdn-responsetime:
      - '43'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/stream/c8globals.test_stream_apikey_1?global=True
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1a84ce7e-e336-4f32-9392-2e6d38fde1ba
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/billing
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 38d44c65-4eb5-4fef-adec-66f7752e0d3e
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/attributes
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0bf88a1d-9baa-44fe-858e-60b9883d1443
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"foo": "bar"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/attributes
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 86bb17c0-ee53-4b71-b04e-fda8e298b5d1
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/attributes/truncate
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f7c00480-389c-4eb2-8f20-1d6ae0925e66
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_api/key/test_apikey_id_2/attributes/foo
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 432ca2b0-1c35-46c9-bd18-f2d97347a0f6
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/streams/c8globals.test_stream_apikey_1
  response:
    body:
      string: '{"code":202,"error":false}'
    headers:
      Content-Type:
      - application/json
      broker-address:
      - c8streams-broker-0.c8streams-broker.c8.svc.cluster.local
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5b9ee2e0-17c7-4aa3-99f4-ad1d852f2f60
      x-gdn-responsetime:
      - '37'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/collection/test_collection_apikey_1
  response:
    body:
      string: '{"error":false,"code":200,"id":"782173"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5feded86-45f7-4bf1-a4f1-2807840a4a9f
      x-gdn-responsetime:
      - '60'
    status:
      code: 200
      message: ''
version: 1
