interactions:
- request:
    body: '{"name": "test_collection_apikey_1", "waitForSync": false, "keyOptions":
      {"type": "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false,
      "isLocal": false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"330590394","globallyUniqueId":"hFF56ED8B5D8B/330590395","id":"330590395","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"test_collection_apikey_1"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 671ec4e2-da87-4b81-8c25-18da7cb708bc
      x-gdn-responsetime:
      - '9'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"63136199","name":"ContentIncoming","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":true,"hasStream":true,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hFF56ED8B5D8B/63136199","searchEnabled":false},{"id":"62951341","name":"test2","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hFF56ED8B5D8B/62951341","searchEnabled":false},{"id":"62866349","name":"test1","[...]
- request:
    body: '{"keyid": "apikey-test%"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_api/key
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"API key identifier must start
        with a letter and can only contain alpha-numeric characters","errorNum":100020}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 6c957425-aceb-427d-8ee3-a2121c2b8547
      x-gdn-responsetime:
      - '3'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/apikey-test%25
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 772b5d2e-410d-486c-abef-8e4e2db39b9b
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 0b03a8dc-bf41-4bf1-8e18-d62ad73653e9
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 0727572f-1e22-4193-85fd-deebfb5ddc1a
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"grant": "rw"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 17d79644-f4c1-4e71-aa8d-384bea08c049
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/collection?full=False
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 6190db67-1d18-4535-b9fd-35d008719888
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/collection/test_collection_apikey_1
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 0244716e-19e1-4cc2-beb0-2352fe3302ab
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/stream?full=False
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 0bf5d66e-ff81-4719-8c85-f17b80dc8247
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/streams/test_stream_apikey_1?global=True
  response:
    body:
      string: '{"code":200,"result":{"stream-id":"c8globals.test_stream_apikey_1"},"error":false}'
    headers:
      Content-Type:
      - application/json
      broker-address:
      - c8streams-broker-0.c8streams-broker.c8.svc.cluster.local
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 533fca0b-c204-4d9d-99fa-e9dd76da38c8
      x-gdn-responsetime:
      - '673'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/database/_system/stream/c8globals.test_stream_apikey_1?global=True
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 8f20b7a8-6e03-4c7c-914f-32e5e66b7112
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/billing
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - d5af15ad-4403-4ef1-8b2f-a7f65b1c0b8e
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/attributes
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 055e6235-faca-498f-8005-8e38e1fe0daa
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"foo": "bar"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/attributes
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 83d0d608-3c9d-4642-a832-378c48e63f7b
      x-gdn-responsetime:
      - '2'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/attributes/truncate
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 8d0b9cc4-7642-468c-b5e3-0117583a5fb6
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_api/key/test_apikey_id_2/attributes/foo
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"invalid api key id","errorNum":100015}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - b149c858-c456-4477-ac70-e89055116df7
      x-gdn-responsetime:
      - '0'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/streams/c8globals.test_stream_apikey_1
  response:
    body:
      string: '{"code":200,"result":{"stream-id":"c8globals.test_stream_apikey_1"},"error":false}'
    headers:
      Content-Type:
      - application/json
      broker-address:
      - c8streams-broker-0.c8streams-broker.c8.svc.cluster.local
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - e4e8dd81-af69-417d-9f11-6c710af3ea51
      x-gdn-responsetime:
      - '889'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-smoke1.eng.macrometa.io/_fabric/_system/_api/collection/test_collection_apikey_1
  response:
    body:
      string: '{"error":false,"code":200,"id":"330590395"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - c639ebae-af4c-4b9d-b461-fab0e115ad04
      x-gdn-responsetime:
      - '28'
    status:
      code: 200
      message: ''
version: 1
