interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ba6a6766-abc5-4654-8d35-c71951016c96
      x-gdn-responsetime:
      - '13'
    status:
      code: 200
      message: ''
- request:
    body: '{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkrcfm--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkrcfm--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 38ccbda3-5729-4310-93fc-0c9e68bb938e
      x-gdn-responsetime:
      - '7'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '{"code":409,"error":true,"errorMessage":"Each document in a collection
        must have a unique key, and the provided one is already used in collection
        ''test_collection_1''.","errorNum":1210}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2307e0fa-b044-45c5-8161-b249ea0b794a
      x-gdn-responsetime:
      - '3'
    status:
      code: 409
      message: Conflict
version: 1
