interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 731381c1-37e4-4f08-b875-e077480601be
      x-gdn-responsetime:
      - '10'
    status:
      code: 200
      message: ''
- request:
    body: '{"data": [{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": 2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text":
      "foo", "loc": [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val":
      6, "text": "bar", "loc": [5, 5]}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":6,"errors":0,"unprocessed":0,"details":{"errors":[],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - bfa260a5-ed19-4b03-be9a-e9b9ec654a4e
      x-gdn-responsetime:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n        FOR doc IN FULLTEXT(@collection, @field, @query)\n            RETURN
      doc\n        ", "bindVars": {"collection": "test_collection_1", "field": "text",
      "query": "foo,|bar"}, "count": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkqeTG--_","loc":[1,1],"text":"foo","val":1},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkqeTK--A","loc":[2,2],"text":"foo","val":2},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkqeTK--D","loc":[3,3],"text":"foo","val":3},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkqeTK--G","loc":[4,4],"text":"bar","val":4},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkqeTO--A","loc":[5,5],"text":"bar","val":5},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkqeTO--D","loc":[5,5],"text":"bar","val":6}],"hasMore":false,"count":6,"cached":false,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":4.775524139404297e-4,"peakMemoryUsage":25258},"warnings":[]},"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fbe48d29-eb9d-4a36-8799-636d8fb21c64
      x-gdn-responsetime:
      - '3'
    status:
      code: 201
      message: Created
- request:
    body: '{"query": "\n        FOR doc IN FULLTEXT(@collection, @field, @query, @limit)\n            RETURN
      doc\n        ", "bindVars": {"collection": "test_collection_1", "field": "text",
      "query": "foo", "limit": 0}, "count": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[],"hasMore":false,"count":0,"cached":false,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":0,"filtered":0,"httpRequests":0,"executionTime":5.621910095214844e-4,"peakMemoryUsage":9405},"warnings":[]},"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c7416fc9-a942-41e3-ac5a-26e11cbdc72c
      x-gdn-responsetime:
      - '2'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"query": "\n        FOR doc IN FULLTEXT(@collection, @field, @query)\n            RETURN
      doc\n        ", "bindVars": {"collection": "test_collection_1", "field": "text",
      "query": "+"}, "count": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"C8QL: bad parameter (while
        executing)","errorNum":10}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3145c5f5-5ca0-4be9-80f1-19101d3e13c8
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"query": "\n        FOR doc IN FULLTEXT(@collection, @field, @query)\n            RETURN
      doc\n        ", "bindVars": {"collection": "test_collection_1", "field": "missing",
      "query": "foo"}, "count": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"C8QL: no suitable fulltext
        index found for fulltext query on ''test_collection_1'' (while optimizing
        plan)","errorNum":1571}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0073b767-98a2-49a0-92fa-36339c98947c
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
version: 1
