interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 11c6f3fa-3321-4eb1-9530-b9b28f7e5bd8
      x-gdn-responsetime:
      - '16'
    status:
      code: 200
      message: ''
- request:
    body: '{"data": [{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": 2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text":
      "foo", "loc": [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val":
      6, "text": "bar", "loc": [5, 5]}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":6,"errors":0,"unprocessed":0,"details":{"errors":[],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f4f7939b-2f7a-447a-ab26-7ab02c8912c8
      x-gdn-responsetime:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n        FOR doc IN NEAR(@collection, @latitude, @longitude)\n            RETURN
      doc\n        ", "bindVars": {"collection": "test_collection_1", "latitude":
      1, "longitude": 1}, "count": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkqY9i--_","loc":[1,1],"text":"foo","val":1},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkqY9m--A","loc":[2,2],"text":"foo","val":2},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkqY9m--D","loc":[3,3],"text":"foo","val":3},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkqY9m--G","loc":[4,4],"text":"bar","val":4},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkqY9q--_","loc":[5,5],"text":"bar","val":5},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkqY9q--C","loc":[5,5],"text":"bar","val":6}],"hasMore":false,"count":6,"cached":false,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":6,"filtered":0,"httpRequests":0,"executionTime":0.015076637268066406,"peakMemoryUsage":12677},"warnings":[]},"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 212a45d3-99fd-4323-9db6-2ab5431f35ea
      x-gdn-responsetime:
      - '17'
    status:
      code: 201
      message: Created
- request:
    body: '{"query": "\n        FOR doc IN NEAR(@collection, @latitude, @longitude,
      @limit )\n            RETURN doc\n        ", "bindVars": {"collection": "test_collection_1",
      "latitude": 1, "longitude": 1, "limit": 0}, "count": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[],"hasMore":false,"count":0,"cached":false,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":0,"filtered":0,"httpRequests":0,"executionTime":4.99725341796875e-4,"peakMemoryUsage":10773},"warnings":[]},"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1f1a1981-ddd5-429f-aa5d-115ddf7978d0
      x-gdn-responsetime:
      - '3'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"query": "\n        FOR doc IN NEAR(@collection, @latitude, @longitude,
      @limit )\n            RETURN doc\n        ", "bindVars": {"collection": "test_collection_1",
      "latitude": 360, "longitude": 1, "limit": 1}, "count": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"code":500,"error":true,"errorMessage":"C8QL: invalid geo coordinate
        value (while executing)","errorNum":1505}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-APISIX-Upstream-Status:
      - '500'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 190da76a-fa65-44f7-b13e-435512808737
      x-gdn-responsetime:
      - '28'
    status:
      code: 500
      message: Internal Server Error
version: 1
