interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7a300da2-0b0c-451d-bc9c-33cc99357097
      x-gdn-responsetime:
      - '17'
    status:
      code: 200
      message: ''
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpiz---_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkpiz---C"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkpizC--A"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkpizC--D"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkpizC--G"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkpizC--J"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8010fa68-ab33-4520-a22c-52f48ece4264
      x-gdn-responsetime:
      - '5'
    status:
      code: 202
      message: Accepted
- request:
    body: '[{"_key": "1", "val": {"foo": 0}, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": {"foo": 0}, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val":
      {"foo": 0}, "text": "foo", "loc": [3, 3]}, {"_key": "4", "val": {"foo": 0},
      "text": "bar", "loc": [4, 4]}, {"_key": "5", "val": {"foo": 0}, "text": "bar",
      "loc": [5, 5]}, {"_key": "6", "val": {"foo": 0}, "text": "bar", "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?keepNull=1&mergeObjects=1&returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpi9y--_","_oldRev":"_fGkpiz---_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkpi92--_","_oldRev":"_fGkpiz---C"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkpi92--B","_oldRev":"_fGkpizC--A"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkpi92--D","_oldRev":"_fGkpizC--D"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkpi96--_","_oldRev":"_fGkpizC--G"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkpi96--B","_oldRev":"_fGkpizC--J"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 45ee1d0c-e88c-4b48-b14d-a25267abd434
      x-gdn-responsetime:
      - '5'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpi9y--_","loc":[1,1],"text":"foo","val":{"foo":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpi9y--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - df3403c9-7c77-434b-a5c2-c6bc2954440c
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"_key": "1", "val": {"bar": 2}, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": {"bar": 2}, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val":
      {"bar": 2}, "text": "foo", "loc": [3, 3]}, {"_key": "4", "val": {"bar": 2},
      "text": "bar", "loc": [4, 4]}, {"_key": "5", "val": {"bar": 2}, "text": "bar",
      "loc": [5, 5]}, {"_key": "6", "val": {"bar": 2}, "text": "bar", "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https[...]
[...]
- request:
    body: '[{"_key": "1", "val": {"baz": 3}, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": {"baz": 3}, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val":
      {"baz": 3}, "text": "foo", "loc": [3, 3]}, {"_key": "4", "val": {"baz": 3},
      "text": "bar", "loc": [4, 4]}, {"_key": "5", "val": {"baz": 3}, "text": "bar",
      "loc": [5, 5]}, {"_key": "6", "val": {"baz": 3}, "text": "bar", "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https[...]
[...]
- request:
    body: '[{"_key": "1", "val": 3, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      3, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 3, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 3, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 3, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?keepNull=1&mergeObjects=1&returnNew=1&returnOld=1&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpqHe--_","_oldRev":"_fGkpo7O--_","old":{"_key":"1","_id":"test_collection_1/1","_rev":"_fGkpo7O--_","loc":[1,1],"text":"foo","_rice":{"version":1,"ops":[[0,"loc",1,24,[1,1],{"0":23}],[0,"text",1,23,"foo",{"0":22}],[0,"val",0,22,"(non-representable
        type)",{"0":21}]],"dcs":["dino-fra"]}},"new":{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpqHe--_","loc":[1,1],"text":"foo","val":3}},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkpqHi--_","_oldRev":"_fGkpo7O--B","old":{"_key":"2","_id":"test_collection_1/2","_rev":"_fGkpo7O--B","loc":[2,2],"text":"foo","_rice":{"version":1,"ops":[[0,"loc",1,24,[2,2],{"0":23}],[0,"text",1,23,"foo",{"0":22}],[0,"val",0,22,"(non-representable
        type)",{"0":21}]],"dcs":["dino-fra"]}},"new":{"_id":"test_collection_1/2","_key":"2","_rev":"_fG[...]
[...]
- request:
    body: '[{"_key": "1", "val": 5, "text": "foo", "loc": [1, 1], "_rev": "_fGkprU---_0"},
      {"_key": "2", "val": 5, "text": "foo", "loc": [2, 2], "_rev": "_fGkprUC--_0"},
      {"_key": "3", "val": 5, "text": "foo", "loc": [3, 3], "_rev": "_fGkprUC--B0"},
      {"_key": "4", "val": 5, "text": "bar", "loc": [4, 4], "_rev": "_fGkprUC--D0"},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5], "_rev": "_fGkprUG--_0"},
      {"_key": "6", "val": 5, "text": "bar", "loc": [5, 5], "_rev": "_fGkprUG--B0"}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?keepNull=1&mergeObjects=1&returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1200":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5afbac09-1712-430a-b2c1-08cccd65340a
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_1","isSystem":false,"searchEnabled":false,"id":"782017","globallyUniqueId":"hB1D42EC62724/782017","count":6}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 05ace8b7-5bd8-4d11-abf5-71e890075f26
      x-gdn-responsetime:
      - '11'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '[{"_key": "1", "val": 6, "text": "foo", "loc": [1, 1], "_rev": "_fGkprU---_0"},
      {"_key": "2", "val": 6, "text": "foo", "loc": [2, 2], "_rev": "_fGkprUC--_0"},
      {"_key": "3", "val": 6, "text": "foo", "loc": [3, 3], "_rev": "_fGkprUC--B0"},
      {"_key": "4", "val": 6, "text": "bar", "loc": [4, 4], "_rev": "_fGkprUC--D0"},
      {"_key": "5", "val": 6, "text": "bar", "loc": [5, 5], "_rev": "_fGkprUG--_0"},
      {"_key": "6", "val": 6, "text": "bar", "loc": [5, 5][...]
[...]
