interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e5ae96df-d685-419f-9d76-509c6b2b308e
      x-gdn-responsetime:
      - '20'
    status:
      code: 200
      message: ''
- request:
    body: '{"data": [{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key":
      "2", "val": 2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text":
      "foo", "loc": [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val":
      6, "text": "bar", "loc": [5, 5]}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":6,"errors":0,"unprocessed":0,"details":{"errors":[],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c384b110-c913-4b29-a968-62b0f955872d
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkqPHW--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkqPHW--C"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkqPHa--_"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkqPHa--C"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkqPHa--F"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkqPHa--I"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3b2c1b46-c882-47ae-8b2b-ed7c44d11b4f
      x-gdn-responsetime:
      - '5'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"document not found","errorNum":1202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3fc0af71-3e12-4abb-9460-cca0bb0d74b8
      x-gdn-responsetime:
      - '3'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_1","isSystem":false,"searchEnabled":false,"id":"782017","globallyUniqueId":"hB1D42EC62724/782017","count":0}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b32450fd-64dc-49e8-97be-9dc77fa54546
      x-gdn-responsetime:
      - '17'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnOld=1&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkqSKq---","old":{"_key":"1","_id":"test_collection_1/1","_rev":"_fGkqSKq---","loc":[1,1],"text":"foo","val":1,"_rice":{"version":1,"ops":[[0,"val",1,2,1,{"0":1}],[0,"text",1,1,"foo",{"0":0}],[0,"loc",1,0,[1,1],{}]],"dcs":["dino-fra"]}}},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkqSKq--B","old":{"_key":"2","_id":"test_collection_1/2","_rev":"_fGkqSKq--B","loc":[2,2],"text":"foo","val":2,"_rice":{"version":1,"ops":[[0,"val",1,2,2,{"0":1}],[0,"text",1,1,"foo",{"0":0}],[0,"loc",1,0,[2,2],{}]],"dcs":["dino-fra"]}}},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkqSKq--E","old":{"_key":"3","_id":"test_collection_1/3","_rev":"_fGkqSKq--E","loc":[3,3],"text":"foo","val":3,"_rice":{"version":1,"ops":[[0,"val[...]
[...]
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnOld=0&ignoreRevs=0&overwrite=0&silent=0&waitForSync=1
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkqTsS--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkqTsW--A"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkqTsW--D"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkqTsW--G"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkqTsW--J"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkqTsa--A"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - db61d9aa-b4f5-40c8-94ff-e37c5d847e57
      x-gdn-responsetime:
      - '20'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1], "_rev": "_fGkqTsS--_0"},
      {"_key": "2", "val": 2, "text": "foo", "loc": [2, 2], "_rev": "_fGkqTsW--A0"},
      {"_key": "3", "val": 3, "text": "foo", "loc": [3, 3], "_rev": "_fGkqTsW--D0"},
      {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4], "_rev": "_fGkqTsW--G0"},
      {"_key": "5", "val": 5, "text": "bar", "loc": [5, 5], "_rev": "_fGkqTsW--J0"},
      {"_key": "6", "val": 6, "text": "bar", "loc": [5, 5], "_rev": "_fGkqTsa--A0"}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1200":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 25ad2094-df27-42f5-b54a-c59b99b694a4
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
