interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_2/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_2","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782047","type":3,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782047","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 373d0f3c-4ecb-48f8-8ee0-64028dcf9563
      x-gdn-responsetime:
      - '10'
    status:
      code: 200
      message: ''
- request:
    body: '{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2?returnNew=0&silent=0
  response:
    body:
      string: '{"code":400,"error":true,"errorMessage":"edge attribute missing or
        invalid","errorNum":1233}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - dadf1be9-1965-44ac-ac39-8d5219098e63
      x-gdn-responsetime:
      - '4'
    status:
      code: 400
      message: Bad Request
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2?returnNew=0&silent=0
  response:
    body:
      string: '[{"error":true,"errorNum":1233,"errorMessage":"edge attribute missing
        or invalid"},{"error":true,"errorNum":1233,"errorMessage":"edge attribute
        missing or invalid"},{"error":true,"errorNum":1233,"errorMessage":"edge attribute
        missing or invalid"},{"error":true,"errorNum":1233,"errorMessage":"edge attribute
        missing or invalid"},{"error":true,"errorNum":1233,"errorMessage":"edge attribute
        missing or invalid"},{"error":true,"errorNum":1233,"errorMessage":"edge attribute
        missing or invalid"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1233":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b07591fc-fd61-48ad-8358-ee7542ecce68
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2/1?keepNull=1&mergeObjects=1&returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"document not found","errorNum":1202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c9f2c52a-8916-4be2-a80a-68d5f0fcd7bd
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2?keepNull=1&mergeObjects=1&returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"error":true,"errorNum":1202,"errorMessage":"document not found"},{"error":true,"errorNum":1202,"errorMessage":"document
        not found"},{"error":true,"errorNum":1202,"errorMessage":"document not found"},{"error":true,"errorNum":1202,"errorMessage":"document
        not found"},{"error":true,"errorNum":1202,"errorMessage":"document not found"},{"error":true,"errorNum":1202,"errorMessage":"document
        not found"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1202":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - be4128f7-e86f-4a4a-9ced-330a7f2b1ded
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2/1?returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"document not found","errorNum":1202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 28221cff-abea-484d-8a58-c1d92c77b318
      x-gdn-responsetime:
      - '4'
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2?returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"error":true,"errorNum":1202,"errorMessage":"document not found"},{"error":true,"errorNum":1202,"errorMessage":"document
        not found"},{"error":true,"errorNum":1202,"errorMessage":"document not found"},{"error":true,"errorNum":1202,"errorMessage":"document
        not found"},{"error":true,"errorNum":1202,"errorMessage":"document not found"},{"error":true,"errorNum":1202,"errorMessage":"document
        not found"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1202":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5bc55774-cf10-4447-b78c-a6fb9cac44a8
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"_key": "1", "_from": "test_collection_4/1", "_to": "test_collection_5/4"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2?returnNew=1&silent=0&waitForSync=1
  response:
    body:
      string: '{"_id":"test_collection_2/1","_key":"1","_rev":"_fGkrEjG--_","new":{"_from":"test_collection_4/1","_id":"test_collection_2/1","_key":"1","_rev":"_fGkrEjG--_","_to":"test_collection_5/4"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkrEjG--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_2/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - bca817fa-f78f-4637-964f-4a310d74d42a
      x-gdn-responsetime:
      - '24'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_2/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_2","isSystem":false,"searchEnabled":false,"id":"782047","globallyUniqueId":"hB1D42EC62724/782047","count":1}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a0d3db88-8504-4d51-9bee-993fe6d0f6cd
      x-gdn-responsetime:
      - '16'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2/1
  response:
    body:
      string: '{"_from":"test_collection_4/1","_id":"test_collection_2/1","_key":"1","_rev":"_fGkrEjG--_","_to":"test_collection_5/4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkrEjG--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 52f73810-938b-4a23-baa4-cfce77a96a0a
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"_key": "1", "_from": "foo", "_to": "bar"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2/1?keepNull=1&mergeObjects=1&returnNew=1&returnOld=1&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_2/1","_key":"1","_rev":"_fGkrFcG--_","_oldRev":"_fGkrEjG--_","old":{"_key":"1","_id":"test_collection_2/1","_rev":"_fGkrEjG--_","_from":"test_collection_4/1","_to":"test_collection_5/4","_rice":{"version":1,"ops":[[0,"_to",1,1,"test_collection_5/4",{"0":0}],[0,"_from",1,0,"test_collection_4/1",{}]],"dcs":["dino-fra"]}},"new":{"_from":"foo","_id":"test_collection_2/1","_key":"1","_rev":"_fGkrFcG--_","_to":"bar"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkrFcG--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_2/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 74c89a81-2b59-4ebb-9f69-93b26d0d80eb
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2/1?returnOld=1&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_2/1","_key":"1","_rev":"_fGkrGIi--_","old":{"_key":"1","_id":"test_collection_2/1","_rev":"_fGkrGIi--_","_from":"baz","_to":"qux","_rice":{"version":1,"ops":[[0,"_to",1,6,"qux",{"0":5}],[0,"_from",1,5,"baz",{"0":4}],[0,"",1,4,{},{"0":3}]],"dcs":["dino-fra"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkrGIi--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_2/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5cad01af-ce55-46b5-a254-2090687e5045
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '[{"_key": "1", "_from": "test_collection_4/1", "_to": "test_collection_5/4",
      "foo": 1}, {"_key": "2", "_from": "test_collection_4/1", "_to": "test_collection_5/5",
      "foo": 1}, {"_key": "3", "_from": "test_collection_4/6", "_to": "test_collection_5/2",
      "foo": 1}, {"_key": "4", "_from": "test_collection_4/8", "_to": "test_collection_5/7",
      "foo": 1}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2?keepNull=[...]
[...]
- request:
    body: '[{"_key": "1", "_from": "test_collection_4/1", "_to": "test_collection_5/4",
      "bar": 1}, {"_key": "2", "_from": "test_collection_4/1", "_to": "test_collection_5/5",
      "bar": 1}, {"_key": "3", "_from": "test_collection_4/6", "_to": "test_collection_5/2",
      "bar": 1}, {"_key": "4", "_from": "test_collection_4/8", "_to": "test_collection_5/7",
      "bar": 1}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_2?returnNew=1[...]
[...]
- request:
    body: '[{"_key": "1", "_from": "test_collection_4/1", "_to": "test_collection_5/4",
      "bar": 1}, {"_key": "2", "_from": "test_collection_4/1", "_to": "test_collection_5/5",
      "bar": 1}, {"_key": "3", "_from": "test_collection_4/6", "_to": "test_collection_5/2",
      "bar": 1}, {"_key": "4", "_from": "test_collection_4/8", "_to": "test_collection_5/7",
      "bar": 1}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELET[...]
[...]
- request:
    body: '{"data": [{"_key": "1", "_from": "foo", "_to": "bar", "bar": 1}, {"_key":
      "2", "_from": "foo", "_to": "bar", "bar": 1}, {"_key": "3", "_from": "foo",
      "_to": "bar", "bar": 1}, {"_key": "4", "_from": "foo", "_to": "bar", "bar":
      1}], "details": true, "replace": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_2
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":0,"errors":4,"unprocessed":0,"details":{"errors":[{"document":{"_key":"1","_from":"foo","_to":"bar","bar":1},"errorNumber":1233,"errorMessage":"1:
        edge attribute missing or invalid"},{"document":{"_key":"2","_from":"foo","_to":"bar","bar":1},"errorNumber":1233,"errorMessage":"2:
        edge attribute missing or invalid"},{"document":{"_key":"3","_from":"foo","_to":"bar","bar":1},"errorNumber":1233,"errorMessage":"3:
        edge attribute missing or invalid"},{"document":{"_key":"4","_from":"foo","_to":"bar","bar":1},"errorNumber":1233,"errorMessage":"4:
        edge attribute missing or invalid"}],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1233":4}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 555b77aa-13f5-42f0-96e4-894325cbf48a
      x-gdn-responsetime:
      - '2'
    status:
      code: 200
      message: OK
version: 1
