interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 01399603-7287-425d-a681-cccb1520e2d9
      x-gdn-responsetime:
      - '17'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export/test_collection_1
  response:
    body:
      string: '{"error":false,"code":200,"result":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5d02c7ac-1e16-4451-842f-810b4ffa41bb
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkrB0u--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkrB0u--C"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkrB0y--A"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkrB0y--D"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkrB0y--G"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkrB0y--J"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1d865f07-f206-4d18-bbf2-eeeb23665030
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export/test_collection_1?limit=0
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"_key":"1","loc":[1,1],"text":"foo","val":1},{"_key":"2","loc":[2,2],"text":"foo","val":2},{"_key":"3","loc":[3,3],"text":"foo","val":3},{"_key":"4","loc":[4,4],"text":"bar","val":4},{"_key":"5","loc":[5,5],"text":"bar","val":5},{"_key":"6","loc":[5,5],"text":"bar","val":6}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 7260903a-e6fb-4be8-936b-b2109870384d
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/export/test_collection_1?offset=3
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"_key":"4","loc":[4,4],"text":"bar","val":4},{"_key":"5","loc":[5,5],"text":"bar","val":5},{"_key":"6","loc":[5,5],"text":"bar","val":6}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 4abf42f8-e6d9-4f6a-99c2-e8ed9d015794
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
version: 1
