interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 9d85d764-f4ca-4ead-8c0e-5c7d170ae4c5
      x-gdn-responsetime:
      - '10'
    status:
      code: 200
      message: ''
- request:
    body: '{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpzt---_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpzt---_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 57a02262-e1b5-4f7c-a7f6-c44e6d29e14a
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"_key": "1", "text": "foo", "loc": [1, 1], "foo": 2}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpz3u--_","_oldRev":"_fGkpzt---_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpz3u--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f00b33b5-a7d1-4826-b186-596baf64990c
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpz3u--_","foo":2,"loc":[1,1],"text":"foo"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpz3u--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d9c75805-78e4-4d15-9f9d-c33a281d76e8
      x-gdn-responsetime:
      - '5'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"_id": "test_collection_1/1", "_key": "1", "_rev": "_fGkpz3u--_", "_old_rev":
      "_fGkpzt---_", "bar": 3}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?returnNew=1&returnOld=1&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkp0Ye--_","_oldRev":"_fGkpz3u--_","old":{"_key":"1","_id":"test_collection_1/1","_rev":"_fGkpz3u--_","foo":2,"loc":[1,1],"text":"foo","_rice":{"version":1,"ops":[[0,"foo",1,6,2,{"0":5}],[0,"loc",1,5,[1,1],{"0":4}],[0,"text",1,4,"foo",{"0":3}],[0,"",1,3,{},{"0":2}]],"dcs":["dino-fra"]}},"new":{"_id":"test_collection_1/1","_key":"1","_old_rev":"_fGkpzt---_","_rev":"_fGkp0Ye--_","bar":3}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkp0Ye--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d2208c5b-e441-4cb9-8eba-49d436083064
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_id": "test_collection_1/1", "_key": "1", "_rev": "_fGkp0Ye--_", "old":
      {"_key": "1", "_id": "test_collection_1/1", "_rev": "_fGkpz3u--_", "foo": 2,
      "loc": [1, 1], "text": "foo", "_rice": {"version": 1, "ops": [[0, "foo", 1,
      6, 2, {"0": 5}], [0, "loc", 1, 5, [1, 1], {"0": 4}], [0, "text", 1, 4, "foo",
      {"0": 3}], [0, "", 1, 3, {}, {"0": 2}]], "dcs": ["dino-fra"]}}, "new": {"_id":
      "test_collection_1/1", "_key": "1", "_old_rev": "_fGkpzt---_", "_rev": "_fGkp0Ye--_",
      "bar": 3}, "_old_rev": "_fGkpz3u--_", "baz": 4}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkp05C--_","_oldRev":"_fGkp0Ye--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkp05C--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c8dc9b18-9155-49bf-ba2e-7f31e685cdcc
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_id": "test_collection_1/1", "_key": "1", "_rev": "_fGkp05C--_0", "_old_rev":
      "_fGkp0Ye--_", "foo": 5}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"error":true,"code":412,"errorNum":1200,"errorMessage":"precondition
        failed","_id":"test_collection_1/1","_key":"1","_rev":"_fGkp05C--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkp05C--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2c01db01-103e-4b59-9c5e-f13dd777852c
      x-gdn-responsetime:
      - '4'
    status:
      code: 412
      message: Precondition Failed
[...]
- request:
    body: '{"_id": "test_collection_1/1", "_key": "1", "_rev": "_fGkp152--_", "_old_rev":
      "_fGkp05C--_", "foo": 6}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?returnNew=0&returnOld=0&ignoreRevs=1&overwrite=1&silent=0&waitForSync=1
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkp2Pi--_","_oldRev":"_fGkp152--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkp2Pi--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8ba98f87-20f4-4190-ad9d-ddf6a952aa2c
      x-gdn-responsetime:
      - '16'
    status:
      code: 201
      message: Created
[...]
