interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 11c2d6ac-0f17-4ea5-b81b-16153866eb37
      x-gdn-responsetime:
      - '14'
    status:
      code: 200
      message: ''
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpOOa--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkpOOa--C"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkpOOe--_"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkpOOe--C"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkpOOe--F"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkpOOe--I"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 66115ebd-04be-4fbf-9696-7c23027f89d0
      x-gdn-responsetime:
      - '5'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpOOa--_","loc":[1,1],"text":"foo","val":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpOOa--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - efea6c14-162c-4095-a56d-ffca46cb6ae4
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_1","isSystem":false,"searchEnabled":false,"id":"782017","globallyUniqueId":"hB1D42EC62724/782017","count":6}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e9233e93-f53c-439f-99f8-42196eb85386
      x-gdn-responsetime:
      - '9'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0&waitForSync=1
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpQR6--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkpQS---A"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkpQS---D"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkpQS---G"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkpQS---J"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkpQS---M"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 35cad008-1888-4134-a311-8d0fd28923a3
      x-gdn-responsetime:
      - '27'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=1&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpVUW--_","new":{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpVUW--_","loc":[1,1],"text":"foo","val":1}},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkpVUa--_","new":{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkpVUa--_","loc":[2,2],"text":"foo","val":2}},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkpVUa--C","new":{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkpVUa--C","loc":[3,3],"text":"foo","val":3}},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkpVUa--F","new":{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkpVUa--F","loc":[4,4],"text":"bar","val":4}},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkpVUa--I","new":{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkpVUa--I","loc":[5,5],"text":"bar","val":5}},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkpVUa--L","new":{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkpVUa--L","loc":[5,5],"text":"bar","val":6}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d9932ca4-e76f-4620-a5c7-43b543830361
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '[{"error":true,"errorNum":1210,"errorMessage":"Each document in a collection
        must have a unique key, and the provided one is already used in collection
        ''test_collection_1''."},{"error":true,"errorNum":1210,"errorMessage":"Each
        document in a collection must have a unique key, and the provided one is already
        used in collection ''test_collection_1''."},{"error":true,"errorNum":1210,"errorMessage":"Each
        document in a collection must have a unique key, and the provided one is already
        used in collection ''test_collection_1''."},{"error":true,"errorNum":1210,"errorMessage":"Each
        document in a collection must have a unique key, and the provided one is already
        used in collection ''test_collection_1''."},{"error":true,"errorNum":1210,"errorMessage":"Each
        document in a collection must have a unique key, and the provided one is already
        used in collection ''test_collection_1''."},{"error":true,"errorNum":1210,"errorMessage":"Each
        document in a collection must have a unique key, and the provided one is already
        used in collection ''test_collection_1''."}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1210":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 3e846b15-de97-4e03-bbaf-bd0e355344ed
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
version: 1
