interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2ead3a6a-d56a-43db-aa10-cbe6feeb1362
      x-gdn-responsetime:
      - '14'
    status:
      code: 200
      message: ''
- request:
    body: '{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkqggW--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkqggW--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2a0bd06f-6f12-42b7-b9af-70fa0e098892
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkqggW--_","loc":[1,1],"text":"foo","val":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkqggW--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1e73920f-da81-4b48-b278-1e59fe0706fb
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - _fGkqggW--_
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkqggW--_","loc":[1,1],"text":"foo","val":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkqggW--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f5a31c4e-4c17-4fa7-94b1-e2a26ab14a1b
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - _fGkqggW--_0
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1
  response:
    body:
      string: '{"error":true,"code":412,"errorNum":1200,"errorMessage":"precondition
        failed","_id":"test_collection_1/1","_key":"1","_rev":"_fGkqggW--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkqggW--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1252aef4-8237-4373-901b-7a9e0688723d
      x-gdn-responsetime:
      - '3'
    status:
      code: 412
      message: Precondition Failed
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/2
  response:
    body:
      string: '{"code":404,"error":true,"errorMessage":"document not found","errorNum":1202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e49131ff-97cd-4039-a11f-fdb0cd658e03
      x-gdn-responsetime:
      - '1'
    status:
      code: 404
      message: Not Found
version: 1
