interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - bd86493d-c626-468f-939e-115d4034416f
      x-gdn-responsetime:
      - '16'
    status:
      code: 200
      message: ''
- request:
    body: '{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpdHC--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpdHC--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ff7ba770-ef92-47c1-b4bc-3c5a7c7196a6
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"_key": "1", "val": {"foo": 1}, "text": "foo", "loc": [1, 1]}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?keepNull=1&mergeObjects=1&returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpdSm--_","_oldRev":"_fGkpdHC--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpdSm--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fd8080d5-68ab-4501-aec6-5b42c755281c
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpdSm--_","loc":[1,1],"text":"foo","val":{"foo":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpdSm--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 1da68b22-2840-41f4-aa89-a41e9e70b072
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"_id": "test_collection_1/1", "_key": "1", "_rev": "_fGkpdSm--_", "_old_rev":
      "_fGkpdHC--_", "val": {"bar": 2}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?keepNull=1&mergeObjects=1&returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpdpS--_","_oldRev":"_fGkpdSm--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpdpS--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 50409108-98af-4bfb-8b68-7bb655b82938
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_id": "test_collection_1/1", "_key": "1", "_rev": "_fGkpdpS--_", "_old_rev":
      "_fGkpdSm--_", "val": {"baz": 3}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?keepNull=1&mergeObjects=0&returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpe_e--_","_oldRev":"_fGkpdpS--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpe_e--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 11f66c7e-92bf-46a6-88de-96cb7f561ae0
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_id": "test_collection_1/1", "_key": "1", "_rev": "_fGkpeqa--_", "_old_rev":
      "_fGkpeUu--_", "val": 3}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?keepNull=1&mergeObjects=1&returnNew=1&returnOld=1&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpf_6--_","_oldRev":"_fGkpeqa--_","old":{"_key":"1","_id":"test_collection_1/1","_rev":"_fGkpeqa--_","_old_rev":"_fGkpe_e--_","loc":[1,1],"text":"foo","_rice":{"version":1,"ops":[[0,"val",0,19,"(non-representable
        type)",{"0":18}],[0,"_old_rev",1,18,"_fGkpe_e--_",{"0":17}],[0,"loc",1,7,[1,1],{"0":6}],[0,"text",1,6,"foo",{"0":5}]],"dcs":["dino-fra"]}},"new":{"_id":"test_collection_1/1","_key":"1","_old_rev":"_fGkpeUu--_","_rev":"_fGkpf_6--_","loc":[1,1],"text":"foo","val":3}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpf_6--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 696ab03f-3c76-4b8c-9812-78d5e8f93841
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"_id": "test_collection_1/1", "_key": "1", "_rev": "_fGkpfVa--_0", "_old_rev":
      "_fGkpf_6--_", "val": 5}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?keepNull=1&mergeObjects=1&returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '{"error":true,"code":412,"errorNum":1200,"errorMessage":"precondition
        failed","_id":"test_collection_1/1","_key":"1","_rev":"_fGkpfVa--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpfVa--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - ebbfc6e9-739e-4c9e-bad6-bedbd4177230
      x-gdn-responsetime:
      - '3'
    status:
      code: 412
      message: Precondition Failed
[...]
- request:
    body: '{"_id": "test_collection_1/1", "_key": "1", "_rev": "_fGkpgAy--_", "_old_rev":
      "_fGkpfVa--_", "val": 6}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PATCH
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1?keepNull=1&mergeObjects=1&returnNew=0&returnOld=0&ignoreRevs=1&overwrite=1&silent=0&waitForSync=1
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkpgWi--_","_oldRev":"_fGkpgAy--_"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkpgWi--_"'
      Location:
      - /_tenant/pythonsdk_macrometa.com/_fabric/test_fabric_1/_api/document/test_collection_1/1
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - bd77ebee-8c42-4b4f-9770-7e6956b6b8a0
      x-gdn-responsetime:
      - '24'
    status:
      code: 201
      message: Created
[...]
