interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 216e7870-b764-4e00-be36-58dbdb78ca54
      x-gdn-responsetime:
      - '11'
    status:
      code: 200
      message: ''
- request:
    body: '[{"_key": "1", "val": 1, "text": "foo", "loc": [1, 1]}, {"_key": "2", "val":
      2, "text": "foo", "loc": [2, 2]}, {"_key": "3", "val": 3, "text": "foo", "loc":
      [3, 3]}, {"_key": "4", "val": 4, "text": "bar", "loc": [4, 4]}, {"_key": "5",
      "val": 5, "text": "bar", "loc": [5, 5]}, {"_key": "6", "val": 6, "text": "bar",
      "loc": [5, 5]}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkp42K--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkp42K--C"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkp42O--_"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkp42O--C"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkp42O--F"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkp42O--I"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - fbde1c9e-38bb-4ee5-9f06-11b1d8b4818a
      x-gdn-responsetime:
      - '5'
    status:
      code: 202
      message: Accepted
- request:
    body: '[{"_key": "1", "text": "foo", "loc": [1, 1], "foo": 1}, {"_key": "2", "text":
      "foo", "loc": [2, 2], "foo": 1}, {"_key": "3", "text": "foo", "loc": [3, 3],
      "foo": 1}, {"_key": "4", "text": "bar", "loc": [4, 4], "foo": 1}, {"_key": "5",
      "text": "bar", "loc": [5, 5], "foo": 1}, {"_key": "6", "text": "bar", "loc":
      [5, 5], "foo": 1}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkp5BC--_","_oldRev":"_fGkp42K--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkp5BG--_","_oldRev":"_fGkp42K--C"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkp5BG--B","_oldRev":"_fGkp42O--_"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkp5BK--_","_oldRev":"_fGkp42O--C"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkp5BK--B","_oldRev":"_fGkp42O--F"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkp5BO--_","_oldRev":"_fGkp42O--I"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 842472a0-6c79-4b98-92ef-194a6584fb9b
      x-gdn-responsetime:
      - '7'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1/1
  response:
    body:
      string: '{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkp5BC--_","foo":1,"loc":[1,1],"text":"foo"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"_fGkp5BC--_"'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - daeed435-5fc8-4f94-a653-1a0259555fc7
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"_key": "1", "text": "foo", "loc": [1, 1], "bar": 3}, {"_key": "2", "text":
      "foo", "loc": [2, 2], "bar": 3}, {"_key": "3", "text": "foo", "loc": [3, 3],
      "bar": 3}, {"_key": "4", "text": "bar", "loc": [4, 4], "bar": 3}, {"_key": "5",
      "text": "bar", "loc": [5, 5], "bar": 3}, {"_key": "6", "text": "bar", "loc":
      [5, 5], "bar": 3}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=1&returnOld=1&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkp8YC--_","_oldRev":"_fGkp7Mu---","old":{"_key":"1","_id":"test_collection_1/1","_rev":"_fGkp7Mu---","foo":2,"_rice":{"version":1,"ops":[[0,"foo",1,8,2,{"0":7}],[0,"",1,7,{},{"0":6}]],"dcs":["dino-fra"]}},"new":{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkp8YC--_","bar":3,"loc":[1,1],"text":"foo"}},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkp8YC--B","_oldRev":"_fGkp7Mu--A","old":{"_key":"2","_id":"test_collection_1/2","_rev":"_fGkp7Mu--A","foo":2,"_rice":{"version":1,"ops":[[0,"foo",1,8,2,{"0":7}],[0,"",1,7,{},{"0":6}]],"dcs":["dino-fra"]}},"new":{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkp8YC--B","bar":3,"loc":[2,2],"text":"foo"}},{"_id":"test_collection_1/3","_key":"3","_rev"[...]
[...]
- request:
    body: '[{"_key": "1", "text": "foo", "loc": [1, 1], "baz": 4}, {"_key": "2", "text":
      "foo", "loc": [2, 2], "baz": 4}, {"_key": "3", "text": "foo", "loc": [3, 3],
      "baz": 4}, {"_key": "4", "text": "bar", "loc": [4, 4], "baz": 4}, {"_key": "5",
      "text": "bar", "loc": [5, 5], "baz": 4}, {"_key": "6", "text": "bar", "loc":
      [5, 5], "baz": 4}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkp9kS--_","_oldRev":"_fGkp8YC--_"},{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkp9kS--B","_oldRev":"_fGkp8YC--B"},{"_id":"test_collection_1/3","_key":"3","_rev":"_fGkp9kW--_","_oldRev":"_fGkp8YG---"},{"_id":"test_collection_1/4","_key":"4","_rev":"_fGkp9kW--B","_oldRev":"_fGkp8YG--A"},{"_id":"test_collection_1/5","_key":"5","_rev":"_fGkp9kW--D","_oldRev":"_fGkp8YG--C"},{"_id":"test_collection_1/6","_key":"6","_rev":"_fGkp9ke--_","_oldRev":"_fGkp8YG--E"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8727cead-d6b8-4f13-9817-a35ca0a7a9a7
      x-gdn-responsetime:
      - '10'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '[{"_key": "1", "text": "foo", "loc": [1, 1], "foo": 5, "_rev": "_fGkp9kS--_0"},
      {"_key": "2", "text": "foo", "loc": [2, 2], "foo": 5, "_rev": "_fGkp9kS--B0"},
      {"_key": "3", "text": "foo", "loc": [3, 3], "foo": 5, "_rev": "_fGkp9kW--_0"},
      {"_key": "4", "text": "bar", "loc": [4, 4], "foo": 5, "_rev": "_fGkp9kW--B0"},
      {"_key": "5", "text": "bar", "loc": [5, 5], "foo": 5, "_rev": "_fGkp9kW--D0"},
      {"_key": "6", "text": "bar", "loc": [5, 5], "foo": 5, "_rev": "_fGkp9ke--_0"}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/document/test_collection_1?returnNew=0&returnOld=0&ignoreRevs=0&overwrite=0&silent=0
  response:
    body:
      string: '[{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"},{"error":true,"errorNum":1200,"errorMessage":"conflict"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-C8-Error-Codes:
      - '{"1200":6}'
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - c4daa066-9bfc-4077-9193-acc4e135f885
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/count
  response:
    body:
      string: '{"error":false,"code":200,"name":"test_collection_1","isSystem":false,"searchEnabled":false,"id":"782017","globallyUniqueId":"hB1D42EC62724/782017","count":6}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 6eb7b0ea-8e6f-40db-af47-ea7cf0f54aec
      x-gdn-responsetime:
      - '15'
    status:
      code: 200
      message: ''
[...]
- request:
    body: '[{"_key": "1", "text": "foo", "loc": [1, 1], "foo": 6, "_rev": "_fGkp9kS--_0"},
      {"_key": "2", "text": "foo", "loc": [2, 2], "foo": 6, "_rev": "_fGkp9kS--B0"},
      {"_key": "3", "text": "foo", "loc": [3, 3], "foo": 6, "_rev": "_fGkp9kW--_0"},
      {"_key": "4", "text": "bar", "loc": [4, 4], "foo": 6, "_rev": "_fGkp9kW--B0"},
      {"_key": "5", "text": "bar", "loc": [5, 5], "foo": 6, "_rev": "_fGkp9kW--D0"},
      {"_key": "6", "text": "bar", "loc": [5, 5], "foo": 6[...]
[...]
