interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"784580","name":"test_collection_c8ql_7","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/784580","searchEnabled":false},{"id":"782492","name":"test_collection_c8ql_6","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782492","searchEnabled":false},{"id":"782363","name":"test_collection_c8ql_4","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/782363","searchEnabled":false},{"id":"78[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/collection/test_collection_1/truncate
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"name":"test_collection_1","isSystem":false,"isSpot":false,"isLocal":false,"status":3,"searchEnabled":false,"id":"782017","type":2,"hasStream":false,"globallyUniqueId":"hB1D42EC62724/782017","collectionModel":"DOC"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 30254773-5606-45b0-8744-ac082d09c6f4
      x-gdn-responsetime:
      - '13'
    status:
      code: 200
      message: ''
- request:
    body: '{"data": [{"_key": "1", "loc": [1, 1]}, {"_key": "2", "loc": [1, 4]}, {"_key":
      "3", "loc": [4, 1]}, {"_key": "4", "loc": [4, 4]}], "details": true, "replace":
      false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/import/test_collection_1
  response:
    body:
      string: '{"error":false,"code":200,"result":{"created":4,"errors":0,"unprocessed":0,"details":{"errors":[],"unprocessed":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2dd60a1a-1546-4015-880a-7b71743431cd
      x-gdn-responsetime:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n        FOR doc IN WITHIN(@@collection, @latitude, @longitude,
      @radius)\n            RETURN doc\n        ", "bindVars": {"@collection": "test_collection_1",
      "latitude": 1, "longitude": 4, "radius": 6}, "count": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_1/2","_key":"2","_rev":"_fGkqdGq--C","loc":[1,4]}],"hasMore":false,"count":1,"cached":false,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":1,"filtered":0,"httpRequests":0,"executionTime":0.001199960708618164,"peakMemoryUsage":26360},"warnings":[]},"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a6007269-0bb0-45b4-b747-5da7357a2299
      x-gdn-responsetime:
      - '4'
    status:
      code: 201
      message: Created
- request:
    body: '{"query": "\n        FOR doc IN WITHIN(@@collection, @latitude, @longitude,
      @radius, @distance)\n            RETURN doc\n        ", "bindVars": {"@collection":
      "test_collection_1", "latitude": 1, "longitude": 1, "radius": 6, "distance":
      "dist"}, "count": true}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/test_fabric_1/_api/cursor
  response:
    body:
      string: '{"result":[{"_id":"test_collection_1/1","_key":"1","_rev":"_fGkqdGq--_","loc":[1,1],"dist":0}],"hasMore":false,"count":1,"cached":false,"extra":{"stats":{"writesExecuted":0,"writesIgnored":0,"scannedFull":0,"scannedIndex":1,"filtered":0,"httpRequests":0,"executionTime":9.777545928955078e-4,"peakMemoryUsage":42861},"warnings":[]},"error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 32660233-ed5b-4a18-b6c6-1b6b41e87999
      x-gdn-responsetime:
      - '2'
    status:
      code: 201
      message: Created
version: 1
