interactions:
- request:
    body: '{"email": "test_user_permission_1@macrometa.com", "passwd": "Sdk@123456##",
      "active": true, "displayName": "test_user_permission_1", "extra": {"foo": "bar"}}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_api/user
  response:
    body:
      string: '{"active":true,"displayName":"test_user_permission_1","email":"test_user_permission_1@macrometa.com","extra":{"foo":"bar"},"tenant":"pythonsdk_macrometa.com","user":"UfU81ghtnTOGMaXXbcqMAeQ","error":false,"code":201}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 9be4227b-bc06-468e-94c6-dea73b76a64e
      x-gdn-responsetime:
      - '60'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/user
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"tenant":"pythonsdk_macrometa.com","email":"pythonsdk@macrometa.com","active":true,"extra":{},"user":"root","displayName":"root"},{"tenant":"pythonsdk_macrometa.com","email":"test_user_permission_1@macrometa.com","active":true,"extra":{"foo":"bar"},"user":"UfU81ghtnTOGMaXXbcqMAeQ","displayName":"test_user_permission_1"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - d1ec0429-b628-43e2-b317-09a6d327530a
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"foo": "bar", "boo": "baz", "soo": "kon"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_api/user/UfU81ghtnTOGMaXXbcqMAeQ/attributes
  response:
    body:
      string: '{"error":false,"code":200,"result":{"foo":"bar","boo":"baz","soo":"kon"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 4cd219f7-a367-4ca8-a261-6f6c25e19684
      x-gdn-responsetime:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_api/user/UfU81ghtnTOGMaXXbcqMAeQ/attributes/soo
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 5f83b26c-fcec-4c1a-96cc-28343237532f
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_api/user/UfU81ghtnTOGMaXXbcqMAeQ/attributes/truncate
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - b4313967-ea20-4869-8284-048aed6eeb4c
      x-gdn-responsetime:
      - '3'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: DELETE
    uri: https://api-dino-fra.eng.macrometa.io/_api/user/UfU81ghtnTOGMaXXbcqMAeQ
  response:
    body:
      string: '{"error":false,"code":202}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f98738f7-2a12-4c50-a6d2-25db312f3ac0
      x-gdn-responsetime:
      - '22'
    status:
      code: 202
      message: Accepted
version: 1
