interactions:
- request:
    body: '{"name": "testsqlcollection", "waitForSync": false, "keyOptions": {"type":
      "traditional", "allowUserKeys": true}, "type": 2, "isSpot": false, "isLocal":
      false, "isSystem": false, "stream": false}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"waitForSync":false,"statusString":"loaded","cacheEnabled":false,"collectionModel":"DOC","objectId":"795663","globallyUniqueId":"hB1D42EC62724/795664","id":"795664","hasStream":false,"searchEnabled":false,"type":2,"status":3,"isLocal":false,"isSpot":false,"isSystem":false,"keyOptions":{"allowUserKeys":true,"type":"traditional","lastValue":0},"name":"testsqlcollection"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f8b6f657-33ac-4286-9bf9-b23cb2d50b62
      x-gdn-responsetime:
      - '79'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/collection
  response:
    body:
      string: '{"error":false,"code":200,"result":[{"id":"795664","name":"testsqlcollection","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":false,"hasStream":false,"waitForSync":false,"isSystem":false,"globallyUniqueId":"hB1D42EC62724/795664","searchEnabled":false},{"id":"781647","name":"_alerts","status":3,"type":2,"collectionModel":"DOC","isSpot":false,"isLocal":true,"hasStream":true,"waitForSync":false,"isSystem":true,"globallyUniqueId":"_alerts","searchEnabled":false},{"id":"781635","name":"_computeFn","status":3,"type[...]
[...]
- request:
    body: '[{"age": 25, "college": "Texas", "height": "6-2", "name": "Avery Bradley",
      "number": 0, "position": "PG", "salary": 7730337, "team": "Boston Celtics",
      "weight": 180}, {"age": 25, "college": "Marquette", "height": "6-6", "name":
      "Jae Crowder", "number": 99, "position": "SF", "salary": 6796117, "team": "Boston
      Celtics", "weight": 235}, {"age": 27, "college": "Boston University", "height":
      "6-5", "name": "John Holland", "number": 30, "position": "SG", "salary": 7730337,
      "team": "Boston Celtics", "weight": 205}, {"age": 22, "college": "Georgia State",
      "height": "6-5", "name": "R.J. Hunter", "number": 28, "position": "SG", "salary":
      1148640, "team": "Boston Celtics", "weight": 185}, {"age": 29, "college": "Boston
      Celtics", "height": "6-10", "name": "Jonas Jerebko", "number": 8, "position":
      "PF", "salary": 5000000, "team": "Boston Celtics", "weight": 231}]'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: POST
    uri: https://api-dino-fra.eng.macrometa.io/_fabric/_system/_api/document/testsqlcollection?returnNew=0&silent=1
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 2d949a1a-44ff-4402-ac3e-88c459710592
      x-gdn-responsetime:
      - '4'
    status:
      code: 202
      message: Accepted
version: 1
