interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/usage?startDate=2022-10-19&endDate=2022-11-18
  response:
    body:
      string: '{"code":200,"error":false,"data":[{"tenant":"pythonsdk_macrometa.com","timestamp":1668729599,"streams-writes":0,"cep-cpu":0,"cep-memory":0,"collStreams-reads":0,"collStreams-storageSize":0,"collStreams-writes":0,"doc-deletes":0,"doc-diskStorage":3696,"doc-indexStorage":1057,"doc-queryExecutionTime":0,"doc-reads":0,"doc-restqlExecutionTime":0,"doc-restqlUsage":0,"doc-writes":0,"dynamo-deletes":0,"dynamo-diskStorage":0,"dynamo-indexStorage":0,"dynamo-queryExecutionTime":0,"dynamo-reads":0,"dynamo-writes":0,"frequency":"daily","graph-diskStorage":0,"graph-indexStorage":0,"graph-queryExecutionTime":0,"kv-deletes":0,"kv-diskStorage":0,"kv-reads":0,"kv-writes":0,"redis-diskStorage":0,"redis-indexStorage":0,"redis-queryExecutionTime":0,"redis-reads":0,"redis-writes":0,"region":"dino-fra","search-count":0,"search-indexStorage":0,"search-queryExecutionTime":0,"streams-reads":0,"streams-storageSize":0}]}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 837c5b1f-e04d-4946-a1f5-bdfb479d9d81
      x-gdn-responsetime:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - invalid
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/usage
  response:
    body:
      string: '{"code":401,"error":true,"message":"Unauthorized","requestId":"4c64c4e1-ef74-441d-b1c8-58b69bfb57b1/2","serverId":"C8Apid
        0.1.41"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f51de69d-0bcc-4b39-ae4b-2c45764c45d1
      x-gdn-responsetime:
      - '3'
    status:
      code: 401
      message: Unauthorized
version: 1
