interactions:
- request:
    body: '{"firstname": "John", "lastname": "Doe", "email": "john@acme.com", "phone":
      "404-555-8726", "line1": "1388 Villa Drive", "line2": "Suite 240C", "city":
      "South Bend", "state": "IN", "country": "US", "zipcode": "46601"}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - pythonsdk_macrometa.com
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/contact
  response:
    body:
      string: '{"code":200,"error":false,"data":{"line2":"Suite 240C","state":"IN","lastname":"Doe","country":"US","firstname":"John","phone":"404-555-8726","line1":"1388
        Villa Drive","email":"john@acme.com","city":"South Bend","zipcode":"46601"}}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e75d0a4e-2b64-480c-8314-690f6f1282df
      x-gdn-responsetime:
      - '36'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - invalid
    method: PUT
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/contact
  response:
    body:
      string: '{"code":401,"error":true,"message":"Unauthorized","requestId":"407eaa71-2986-4f1e-858e-5538bb2f2e3e/5","serverId":"C8Apid
        0.1.41"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - e67f326f-8c05-4fef-91e1-e9644f658527
      x-gdn-responsetime:
      - '4'
    status:
      code: 401
      message: Unauthorized
version: 1
