interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/datacenter/local
  response:
    body:
      string: '{"_key":"dino-fra","host":"151.139.87.30","local":true,"name":"dino-fra","spot_region":false,"status":0,"tags":{"api":"api-dino-fra.eng.macrometa.io","url":"dino-fra.eng.macrometa.io"},"locationInfo":{"city":"","countrycode":"US","countryname":"United
        States","latitude":"37.751","longitude":"-97.822","url":"dino-fra.eng.macrometa.io"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - dcd191b5-7c6c-4f78-bfca-2eb9cebc81f4
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/region/dino-fra/usage?startDate=2022-10-22&endDate=2022-11-21
  response:
    body:
      string: '{"code":200,"error":false,"data":[{"tenant":"pythonsdk_macrometa.com","timestamp":1668729599,"streams-writes":0,"cep-cpu":0,"cep-memory":0,"collStreams-reads":0,"collStreams-storageSize":0,"collStreams-writes":0,"doc-deletes":0,"doc-diskStorage":3696,"doc-indexStorage":1057,"doc-queryExecutionTime":0,"doc-reads":0,"doc-restqlExecutionTime":0,"doc-restqlUsage":0,"doc-writes":0,"dynamo-deletes":0,"dynamo-diskStorage":0,"dynamo-indexStorage":0,"dynamo-queryExecutionTime":0,"dynamo-reads":0,"dynamo-writes":0,"frequency":"daily","graph-diskStorage":0,"graph-indexStorage":0,"graph-queryExecutionTime":0,"kv-deletes":0,"kv-diskStorage":0,"kv-reads":0,"kv-writes":0,"redis-diskStorage":0,"redis-indexStorage":0,"redis-queryExecutionTime":0,"redis-reads":0,"redis-writes":0,"region":"dino-fra","search-count":0,"search-indexStorage":0,"search-queryExecutionTime":0,"streams-reads":0,"streams-storageSize":0},{"tenant":"pythonsdk_macrometa.com","timestamp":1668815999,"streams-writes":0,"cep-cpu":0,"cep-memory":4,"collStreams-reads":0,"collStreams-storageSize":0,"collStreams-writes":0,"doc-deletes":13,"doc-diskStorage":34017,"doc-indexStorage":11260,"doc-queryExecutionTime":1085,"doc-reads":26,"doc-restqlExecutionTime":13,"doc-restqlUsage":9,"doc-writes":24,"dynamo-deletes":0,"dynamo-diskStorage":0,"dynamo-indexStorage":0,"dynamo-queryExecutionTime":0,"dynamo-reads":0,"dynamo-writes":0,"frequency":[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - invalid
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/region/dino-fra/usage
  response:
    body:
      string: '{"code":401,"error":true,"message":"Unauthorized","requestId":"fac97533-7acf-4f8f-ab8b-bbabeeb53682/2","serverId":"C8Apid
        0.1.41"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - f1eb5e6b-2de3-481f-a83e-d5f1b647a5ea
      x-gdn-responsetime:
      - '2'
    status:
      code: 401
      message: Unauthorized
version: 1
