interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - pythonsdk_macrometa.com
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/account
  response:
    body:
      string: '{"code":200,"error":false,"data":{"plan":{"attribution":"Macrometa","name":"ENTERPRISE","target":"stripe"},"tenant":"pythonsdk_macrometa.com","metadata":{},"contact":{"city":"","country":"","email":"pythonsdk@macrometa.com","firstname":"","lastname":"","line1":"","line2":"","phone":"","state":"","zipcode":""},"created_at":1668685665,"last_report_date":"2022-11-17"}}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 0acec63c-e620-43d7-b939-f64fcc8fe409
      x-gdn-responsetime:
      - '12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - invalid
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/account
  response:
    body:
      string: '{"code":401,"error":true,"message":"Unauthorized","requestId":"407eaa71-2986-4f1e-858e-5538bb2f2e3e/3","serverId":"C8Apid
        0.1.41"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - a486a005-f331-4ecd-b3b9-f8daeb197405
      x-gdn-responsetime:
      - '2'
    status:
      code: 401
      message: Unauthorized
version: 1
