interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/datacenter/local
  response:
    body:
      string: '{"_key":"dino-fra","host":"151.139.87.30","local":true,"name":"dino-fra","spot_region":false,"status":0,"tags":{"api":"api-dino-fra.eng.macrometa.io","url":"dino-fra.eng.macrometa.io"},"locationInfo":{"city":"","countrycode":"US","countryname":"United
        States","latitude":"37.751","longitude":"-97.822","url":"dino-fra.eng.macrometa.io"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 8f26a2cf-8c9d-4990-a46a-6d90490f6502
      x-gdn-responsetime:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/region/dino-fra/usage?startDate=2022-10-19&endDate=2022-11-18
  response:
    body:
      string: '{"code":200,"error":false,"data":[{"tenant":"pythonsdk_macrometa.com","timestamp":1668729599,"streams-writes":0,"cep-cpu":0,"cep-memory":0,"collStreams-reads":0,"collStreams-storageSize":0,"collStreams-writes":0,"doc-deletes":0,"doc-diskStorage":3696,"doc-indexStorage":1057,"doc-queryExecutionTime":0,"doc-reads":0,"doc-restqlExecutionTime":0,"doc-restqlUsage":0,"doc-writes":0,"dynamo-deletes":0,"dynamo-diskStorage":0,"dynamo-indexStorage":0,"dynamo-queryExecutionTime":0,"dynamo-reads":0,"dynamo-writes":0,"frequency":"daily","graph-diskStorage":0,"graph-indexStorage":0,"graph-queryExecutionTime":0,"kv-deletes":0,"kv-diskStorage":0,"kv-reads":0,"kv-writes":0,"redis-diskStorage":0,"redis-indexStorage":0,"redis-queryExecutionTime":0,"redis-reads":0,"redis-writes":0,"region":"dino-fra","search-count":0,"search-indexStorage":0,"search-queryExecutionTime":0,"streams-reads":0,"streams-storageSize":0}]}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 786706dd-ffac-4bb6-86cf-2befe126b253
      x-gdn-responsetime:
      - '11'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - invalid
    method: GET
    uri: https://api-dino-fra.eng.macrometa.io/_api/billing/region/dino-fra/usage
  response:
    body:
      string: '{"code":401,"error":true,"message":"Unauthorized","requestId":"4c64c4e1-ef74-441d-b1c8-58b69bfb57b1/4","serverId":"C8Apid
        0.1.41"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - dino-fra.eng.macrometa.io
      x-gdn-requestid:
      - 38aff898-17a0-4932-826c-4d6fa2c6ec8b
      x-gdn-responsetime:
      - '4'
    status:
      code: 401
      message: Unauthorized
version: 1
