interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/billing/usage?startDate=2022-10-18&endDate=2022-11-17
  response:
    body:
      string: '{"code":200,"error":false,"data":[{"tenant":"koshy.thomas2_macrometa.com","timestamp":1668038399,"streams-writes":0,"cep-cpu":0,"cep-memory":24,"collStreams-reads":111,"collStreams-storageSize":2940,"collStreams-writes":21669,"doc-deletes":66,"doc-diskStorage":262076,"doc-indexStorage":591542,"doc-queryExecutionTime":6077,"doc-reads":616,"doc-restqlExecutionTime":24,"doc-restqlUsage":31,"doc-writes":322,"dynamo-deletes":0,"dynamo-diskStorage":0,"dynamo-indexStorage":0,"dynamo-queryExecutionTime":0,"dynamo-reads":0,"dynamo-writes":0,"frequency":"daily","graph-diskStorage":0,"graph-indexStorage":0,"graph-queryExecutionTime":25,"kv-deletes":0,"kv-diskStorage":0,"kv-reads":0,"kv-writes":0,"redis-diskStorage":0,"redis-indexStorage":0,"redis-queryExecutionTime":2964,"redis-reads":737,"redis-writes":1441,"region":"smoke1-eu-west","search-count":0,"search-indexStorage":0,"search-queryExecutionTime":0,"streams-reads":0,"streams-storageSize":0},{"tenant":"koshy.thomas2_macrometa.com","timestamp":1668124799,"streams-writes":0,"cep-cpu":0,"cep-memory":0,"collStreams-reads":0,"collStreams-storageSize":222,"collStreams-writes":0,"doc-deletes":10,"doc-diskStorage":186196,"doc-indexStorage":1473112,"doc-queryExecutionTime":166,"doc-reads":56,"doc-restqlExecutionTime":3,"doc-restqlUsage":3,"doc-writes":25,"dynamo-deletes":0,"dynamo-diskStorage":0,"dynamo-indexStorage":0,"dynamo-queryExecutionTime":0,"dynamo-reads":0,"dynamo-writes":0,"freq[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - invalid
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/billing/usage
  response:
    body:
      string: '{"code":401,"error":true,"message":"Unauthorized","requestId":"d23eb96e-ecde-4d43-ad85-3cc96ed409de/3","serverId":"C8Apid
        0.1.41"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 13046a3c-4c56-4ae3-8170-b50e31e08028
      x-gdn-responsetime:
      - '1'
    status:
      code: 401
      message: Unauthorized
version: 1
