interactions:
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - koshy.thomas2_macrometa.com
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/billing/account
  response:
    body:
      string: '{"code":200,"error":false,"data":{"plan":{"attribution":"Macrometa","name":"ENTERPRISE","target":"stripe"},"tenant":"koshy.thomas2_macrometa.com","metadata":{},"contact":{"city":"South
        Bend","country":"US","email":"john@acme.com","firstname":"John","lastname":"Doe","line1":"1388
        Villa Drive","line2":"Suite 240C","phone":"404-555-8726","state":"IN","zipcode":"46601"},"created_at":1668009087,"last_report_date":"2022-11-09"}}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 3e3a2df1-f6c4-4c13-919f-8bf6ec6f2a5e
      x-gdn-responsetime:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      charset:
      - utf-8
      content-type:
      - application/json
      tenant:
      - invalid
    method: GET
    uri: https://api-smoke1.eng.macrometa.io/_api/billing/account
  response:
    body:
      string: '{"code":401,"error":true,"message":"Unauthorized","requestId":"a0a5507c-a908-4adf-9aed-42cda36850a2/3","serverId":"C8Apid
        0.1.41"}'
    headers:
      Content-Type:
      - application/json
      x-gdn-region:
      - smoke1-ap-west.eng.macrometa.io
      x-gdn-requestid:
      - 3c748e33-5b1e-4edd-a381-d95a5ffb98bb
      x-gdn-responsetime:
      - '2'
    status:
      code: 401
      message: Unauthorized
version: 1
